
$heading: 'Century Gothic Bold Italic';
$text: 'Century Gothic Regular';
$subHeading: 'Century Gothic Bold';
$subText: 'Century Gothic Italic';
$orange: #F79125;
$blueGreen: #013752;
$blue: #229fe7;
$darkerBlue: #007bc0;
$gray: #333333;
$red: #E11C24;
$green: #39A14A;
$darkYellow: #ECCB00;
$lightYellow: #ECCB00;
$lightGreen: #11B864;

@font-face {
	font-family: 'Century Gothic Bold';
	src: url('../fonts/century gothic/CenturyGothic-Bold.eot');
	src: url('../fonts/century gothic/CenturyGothic-Bold.svg');
	src: url('../fonts/century gothic/CenturyGothic-Bold.ttf');
	src: url('../fonts/century gothic/CenturyGothic-Bold.woff');
}

@font-face {
	font-family: 'Century Gothic Regular';
	src: url('../fonts/century gothic/CenturyGothic-Regular.eot');
	src: url('../fonts/century gothic/CenturyGothic-Regular.svg');
	src: url('../fonts/century gothic/CenturyGothic-Regular.ttf');
	src: url('../fonts/century gothic/CenturyGothic-Regular.woff');
}

@font-face {
	font-family: 'Century Gothic Bold Italic';
	src: url('../fonts/century gothic/CenturyGothic-BoldItalic.eot');
	src: url('../fonts/century gothic/CenturyGothic-BoldItalic.svg');
	src: url('../fonts/century gothic/CenturyGothic-BoldItalic.ttf');
	src: url('../fonts/century gothic/CenturyGothic-BoldItalic.woff');
}

@font-face {
	font-family: 'Century Gothic Italic';
	src: url('../fonts/century gothic/CenturyGothic-Italic.eot');
	src: url('../fonts/century gothic/CenturyGothic-Italic.svg');
	src: url('../fonts/century gothic/CenturyGothic-Italic.ttf');
	src: url('../fonts/century gothic/CenturyGothic-Italic.woff');
}

h2, h3, h4 {
	font-family: $heading;
	font-weight: normal;
}

h1 {
	color: #ffffff;
	font-family: $subHeading;
}

h2 {
	color: $red;
	font-size: 50px; 
}

p, span {
	font-family: $text;
}

form {
	label {
		font-family: $text;
	}
}

hr {
	border-top: 1px solid #E0E0E0;
}

.logo {
	width: 145px;
	transition: all 0.25s ease;
}

.logoWrap {
	background-color: #F8DD02;
	padding: 20px;
}

.hero-image {
	width: 100%;
}
.discountsection{
	padding-top: 10px;
}

.menuposition{
	// margin-top: 50px;
	//     right: 55px!important;
 //    top: 140px!important;
 background: #18A15F;
 li{
 	a{
 		color: #fff;
 	}
 }
}
.call-mobile-home {
    /* margin-top: 90px; */
    // float: right;
    // margin-top: 50px;
    bottom: 12px;
    z-index: 98;
    position: fixed;
    // width: 100%;
    right: 0;
    p{
    	font-size: 30px;
    // border: solid 1px #036E3A;
    border-radius: 20px;
    padding: 5px 10px 4px 8px;
    background: #18A15F;
    width: 39px;
    color: #FFF;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);


    }
}
.call-mobile {
    /* margin-top: 90px; */
    // float: right;
    margin-top: 50px;
    z-index: 98;
    position: fixed;
    // width: 100%;
    right: 0;
    p{
    	font-size: 30px;
    // border: solid 1px #036E3A;
    border-radius: 20px;
    padding: 5px 10px 4px 8px;
    background: #18A15F;
    width: 39px;
    color: #FFF;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);


    }
}

/*
CARET and hiddendiv
*/

.hiddendiv{
	display:none;
}
	.carrethide1{
	display:none;
}

	.carrethide2{
	display:none;
}

	.carrethide3{
	display:none;
}

	.carrethide4{
	display:none;
}
.carret{
		color: $red;
		font-weight: bold;
		font-size: 20px;
		text-align: center;
		cursor:pointer;
	}

/*
REMITTANCE SECTION
// */
// .container.remittancecontainer{
// 	    margin-right: 0px;
// 	        margin-left: 99px;
// }
.remittancecontiner{
	padding: 10px 10px 10px 10px;
	text-align: center;
	img {
		margin: auto;
	}
}
.ids{
	    width: 100%;
}
.remittancebg{
background-color: #F8DD02;
// width:	49%;
}
.remittanceheader{
	    font-size: 28px;

}
.remittancedesc1{
	margin-top:70px;
}
.remittancedesc2{
	margin-top:145px;
}


.accepted-id{
	text-align: center;
	background-color: $green;
	padding-bottom: 30px;
	h2{
		color:#FFFFFF;
		margin-top: 100px;
	}
	p{
		margin-top: 25px;
		color:#FFFFFF;
	}
	img {
		text-align: center;
		margin: auto;
		width:100%;
		max-width: 500px;
	}
}

.acceptedidmargin{
	margin-top:	30px;
}

.btnregular{
	font-size:20px;
	padding: 10px 40px 10px 40px;
	margin-top:	30px;
}
hr.borderline-yellow{
	border-top: 8px solid #F8DD02;
	margin-bottom:0px;
}
/*
HOW TO PAWN SECTION

*/
.btn.btn-danger.rightbtn{
	float:right;
	font-size:15px;
	padding: 10px 25px 10px 25px;
	//margin-top:	30px;
}

.testimonials h2{
	color: #000000;
	text-align:	left;
}
.testimonials p{
text-align:	left;


}
.testimonials p:nth-child(3){
	margin-top: 20px;
}

.insurance h2, .insurance p{
	color:#fff;
}
/*
SUKI & MYWALLET SECTION
*/
.btn.btn-danger.howtoapplybtn{
	font-size:20px;
	padding: 10px 40px 15px 40px;
	margin-top:	10px;
}
.btn.btn-danger.learnmorebtn{
		font-size:20px;
	padding: 10px 40px 15px 40px;
	margin-top:	10px;
	background:#ECCB00;
	border-color:#ECCB00;
	color:#E11C24;
}

/*
PADALA SECTION
*/
.loan-widget input{
	margin-right: 5px;

}
.feelabel{
	color: #E11C24;
	//display: inline-block;
    max-width: 100%;
    //margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
    //text-align: center;
}
.feeValue.feeholder{
	color: #E11C24;
	//text-align: center;
	margin-right: 0px;
	width: 100px;
	padding-top: 5px;
}

.col-sm-6.loanValueText{
padding:	0px;

}


.padalaValue.remittance{
	border-style:inset;
	width: 80%;
	background: rgba(115, 115, 115, 0.28);
	padding: 5px 5px 5px 5px;

}


.col-sm-6.amountwrap{
	padding: 0;
}


.form-control.amount{
	border-width:1px;
	border-style:inset;
	padding: 5px 5px 5px 5px!important;
}


.container.content-filter{
	margin-top: -7px;
}
/*
HEADER FILTER
*/




/*
REMITTANCE OPTIONS SECTION
*/


.remittance-options{
	margin-bottom: 30px;
	h3	{
		color:#E11C24;
	}


	.col-sm-7{
		img {
			float: right;
		}
	}
	.btn {
		margin-top: 20px;
	}
}

.content-filter {
	text-align: center;
	margin: auto;

	.filters {
		margin-top: 60px;

		p {
			font-family: $subText;
			color: $red;
		}
	}

	.btn-lg {
		width: 175px;
		font-size: 22px;
	}
}

.content-filter-header {
	background-color: $red;
	padding: 15px;
	position: absolute;
	z-index: 99;
	top: -25px;
	text-align: center;
	margin: auto;
	width: 100%;
	h1 {
		font-size: 30px;
		margin: 0;
	}
}



.content-filter-xsMobile {
	text-align: center;
	margin: auto;

	.filters {
		margin-top: 20px;

		p {
			font-family: $subText;
			color: $red;
			font-size: 12px;
		}
	}

	.btn-lg {
		width: 175px;
		font-size: 20px;
		padding: 8px 16px;
	}

	.content-filter-header-xsMobile {
		background-color: $red;
		text-align: center;
		margin: auto;
		width: 100%;
		padding: 10px;
		h1 {
			font-size: 21px;
			margin: 0;
		}
	}
}

.divider {
	text-align: center;
}

.toggle-filter {
	border: 0;
}

.toggle-filter:hover, .toggle-filter:focus {
	background-color: $red;
}

.pawning-hero {
	background: url(../img/pawning-hero-470.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: auto;
    width: 100%;
    min-height: 90%;
    display: block;
    padding: 130px 0;
    text-align: center;
    background-position: center;

}

.remittance-hero {
	background: url(../img/remittance-hero-470.jpg) no-repeat;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: auto;
    width: 100%;
    min-height: 90%;
    display: block;
    padding: 130px 0;
    text-align: center;
    background-position: center;
}

.store-locator {
	background-color: $green;
	padding-top: 65px;
	padding-bottom: 40px;
	h3 {
		font-family: $text;
		color: #FFFFFF;
		display: inline;
		font-size: 29px;
	}
	.form-control {
		margin: 0;
	}
}

.store-locator.pawning{
	padding-top: 35px;
	padding-bottom: 11px;
	h3 {
		font-family: $text;
		color: #FFFFFF;
		display: inline;
		font-size: 29px;
	}
}

.store-locator.remittance{
	padding-top: 35px;
	padding-bottom: 23px;
	h3 {
		font-family: $text;
		color: #FFFFFF;
		display: inline;
		font-size: 29px;
	}
}


.top-margin {
	height: 64px;
}

.nav-wrap {
	background-color: #FFFFFF;
	width: 100%;
	position: fixed;
	z-index: 1000;
	transition: all 0.25s ease;
}

.nav-wrap.past-hero {
	.logo {
		width: 130px;
	}
	.logoWrap {
		padding: 0;
	}
}

.btn-danger {
	background-color: $red;
}

#map {
	height: 600px;
	display: none;
	transition: all 0.25s ease;
}

.flex-center {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  height: 400px;
	  resize: vertical;
	}

.pawning {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;

	h2 {
		//margin-top: 80px;
	}
	h3 {
		color: $red;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.description {
		margin-top: 30px;
	}

	img {
		text-align: center;
		margin: auto;
		width:100%;
		max-width: 500px;
		margin-bottom: 20px;
	}
	.international {
		text-align: center;

		img {
			max-width: 100px;
    		margin: 10px;
    		margin-bottom: 30px;
		}
		/*
		.btn {
			text-align: center;
		}
		*/
	}
}

.accepted-items {
	img {
		margin: 10px;
	}
}

.interest-calculator {
	background-color: $red;
	
	h1, h2, h3, h4, p {
		color: #FFFFFF;
	}

	h3, h4 {
		font-family: $subHeading;
	}

	h3 {
		
		font-size: 50px;
	}

	h4 {
		font-size: 30px;
	}
	.radiolabelremit{
   	font-weight:normal;
   }
	
}

.padala-calculator {
	background-color: $green;
	padding: 30px 0;
	

	h1, h2, h3, h4, p {
		color: #FFFFFF;
	}

	h3, h4 {
		font-family: $heading;
	}

	h3 {
		//margin-top: 150px;
		font-size: 50px;
	}

	h4 {
		font-size: 30px;
	}

	.loan-widget .ui-widget-content {
    background: $green !important;
   }

   #padalaValue {
   	color: $green;
   }

   #radio-inline{
   	font-weight:normal;
   }
   .radiolabelremit{
   	font-weight:normal;
   }
   .center {
   		margin-top: 30px;
   		text-align: center;
   }
}

.bills-payment {

	padding: 50px 0;
	h2 {
		//margin-top: 80px;
	}
}

.suki-card {
	text-align: center;
	padding: 50px 0;
	background-color: $darkYellow;
	h2 {
		//margin-top: 80px;
	}
	img {
		text-align: center;
		margin: auto;
		width:100%;
		max-width: 500px;
	}
}

.redeem {
	text-align: center;
	padding: 50px 0;
	background-color: $darkYellow;
	h2 {
		//margin-top: 80px;
	}
	img {
		text-align: center;
	    margin: auto;
	    max-width: 480px;
	    max-height: 420px;
	}
}

.other {
	padding: 40px 0;
	h2 {
		//margin-top: 70px;
		font-size: 42px;
	}
}

.other-list {
	.col-sm-12 {
		padding: 0;
	}
	ul {
		list-style-type: none;
		padding-left: 0;
		li {
			padding: 10px 0;
			
			a {
				padding-left: 30px;
				font-size: 40px;
				color: $red;
				font-family: $heading;
			}
		}
		li:not(:last-child) {
			border-bottom: 1px solid $red;
		}
	}
}
.loan-widget-row{
	margin-top: 10px;
	margin-bottom: 20px;
}

.e-loading {
	padding: 50px 0;
	background-color: $lightYellow;
	h2 {
		//margin-top: 80px;
	}
}

.insurance {
	text-align: center;
	padding: 50px 0;
	background-color: $green;
	h2 {
		//margin-top: 80px;
	}
	img {
		text-align: center;
		margin: auto;
		width:100%;
		max-width: 500px;
	}
}

.testimonials {
	text-align: center;
	p {
		font-size: 18px;
		margin-top: 50px;
	}

	.carousel .carousel-indicators .active  {
		background-color: $red;
		width: 20px;
    	height: 20px;
	}

	.carousel .carousel-indicators li {
		background-color: #6F6F6F;
		width: 20px;
    	height: 20px;
	}
}

.carousel-indicators {
	bottom: -45px;
}

.news {
	padding: 70px 0;
	background-color: #F9F8E4;

	h2 {
		margin-top: 20px;
		margin-bottom: 40px;
	}

	a {
		color: $red;
	}

	a.btn {
		margin-top: 20px;
		color: #FFF;
	}
}
.desktopNav {
	height: 90px;
}


input:focus {
	background: #E8F6FC;
}


.nav-pills{
	padding-top: 20px;

}

.navbar-brand {
	position: absolute;
	z-index:99;
	padding: 0;
}

.heroCarousel {
		.carousel-indicators .active {
	    //background-color: #2980b9;
	}

	.carousel-inner img {
	    width: 100%;
	    height: auto;
	   // max-height: auto;
	}

	.carousel-control {
	    width: 0;
	}

	.carousel-control.left,
	.carousel-control.right {
		opacity: 1;
		filter: alpha(opacity=100);
		background-image: none;
		background-repeat: no-repeat;
		text-shadow: none;
	}

	.carousel-control.left span {
		padding: 15px;
	}

	.carousel-control.right span {
		padding: 15px;
	}

	.carousel-control .glyphicon-chevron-left, 
	.carousel-control .glyphicon-chevron-right, 
	.carousel-control .icon-prev, 
	.carousel-control .icon-next {
		position: absolute;
		top: 45%;
		z-index: 5;
		display: inline-block;
	}

	.carousel-control .glyphicon-chevron-left,
	.carousel-control .icon-prev {
		left: 45px;
		font-size: 40px;
    	color: rgba(27, 27, 27, 0.8);
	}

	.carousel-control .glyphicon-chevron-right,
	.carousel-control .icon-next {
		right: 75px;
		font-size: 40px;
    	color: rgba(27, 27, 27, 0.8);
	}

	.carousel-control.left span,
	.carousel-control.right span {
		//background-color: #000;
	}

	.carousel-control.left span:hover,
	.carousel-control.right span:hover {
		opacity: .7;
		filter: alpha(opacity=70);
	}

	/* Carousel Header Styles */
	.header-text {
	    position: absolute;
	    top: 20%;
	    left: 1.8%;
	    right: auto;
	    width: 96.66666666666666%;
	    color: #fff;
	}

	.header-text h2 {
	    font-size: 40px;
	}

	.header-text h2 span {
	    background-color: #2980b9;
		padding: 10px;
	}

	.header-text h3 span {
		background-color: #000;
		padding: 15px;
	}

	.btn-min-block {
	    min-width: 170px;
	    line-height: 26px;
	}

	.btn-theme {
	    color: #fff;
	    background-color: transparent;
	    border: 2px solid #fff;
	    margin-right: 15px;
	}
}

.navbar {
	p {
		font-family: $subHeading;
		color: #58595B;
		text-align: right;
		margin-top:30px;
		margin-bottom: -10px;
		margin-right: 10px;
		height: 10px;
	}
	

	.fa-search {
		position: relative;
	    float: right;
	    top: 26px;
	    right: 64px;
	    color: #888;
	    border-right: 1px solid #9C9898;
	    padding-right: 12px;
	    padding: 3px 10px 7px 0px;
	}
	
/*
	.search-bar-mobile {
		position: relative;
	    float: right;
	    top: 26px;
	    right: 64px;
	    color: #888;
	    //border-right: 1px solid #9C9898;
	    padding-right: 12px;
	    padding: 3px 10px 7px 0px;
	}
	*/
}

li {
	a {
		font-family: $subHeading;
		color: #58595B;
	}
}

.navbar-nav > li > a {
	padding: 0px;
}

.nav > li > a{
	padding: 5px 10px;
}

.navbar-nav>li>a:hover {
	text-decoration: none;
    background-color: $orange;
	padding: -100px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	 background-color: $orange;
}

.form-control {
	border-radius: 0;
}



.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border-radius: 0px;
    outline: 0;

    img {
    	width: 100%;
    	padding: 10px 20px;
    	margin-bottom: 10px;
    }
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
    font-family: $subHeading;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.btn-warning {
	background-color: $orange;
}

.btn-warning:hover {
	background-color: #E88522;
}

.glyphicon {
    top: 0px;
}

.form-control {
  border-radius: 0px;
}

.modal-body {
	overflow: auto;

	img {
		width: 100%;
	}
}

.modal-header {
	button {
		padding-bottom: 10px;
	}
}

.navbar {
	border: 0;
}

/*
=====================================
WIDGET
=====================================
*/

.loan-widget {
	background: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 10px;
	width: 100%;
	height: 370px;
	//margin-left: -10px;
	margin-top: 50px;

	.ui-widget-content {
	background: $red;
	}
	
	h3 {
		margin-top: 0;
		color: #58595B;
		font-family: $heading;
	}

	.title {
		display: block;
		color: #58595B;
		margin-bottom: 10px;
	}

	input {
		background: none;
		color: #58595B;
		border: 0;
		font-weight: 200;
		font-size: 20px;
		    width: 100%;
		//padding-top: 10px;
	}

	.radio-inline {
		font-family: $text;
		color: #58595B;
	}

	label {
		color: #58595B;
		font-size: 12px;
	}


/*

input[type="radio"] {
    display:none;
}
*/
input[type="radio"] + label {
    color: #ffffff ;
    font-family:$heading;
    font-size:14px;
}
input[type="radio"] + label span {
    display:inline-block;
    width:17px;
    height:17px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
    border: 3px solid #ffffff
}

input[type="radio"] + label span {
     background-color: #ffffff;
}

input[type="radio"]:checked + label span{
     background-color: #fca951;
}

/*
	a {
		display: block;
		background: $orange;
		color: #ffffff;
		border-radius: 3px;
		text-align: center;
		font-size: 15px;
		padding-top: 5px;
		width: 145px;
		height: 30px;
		font-family: $heading;
		margin-left: -30px;
	}
	*/

	a:hover {
		text-decoration: none;
	}

	.form-control {
		    background: #fff;
    box-shadow: none;
    height: auto;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
    color: #E11C24;
	

	}

	.tips {
		font-size: 10px;
		display: inline-block;
		height: 15px;
		width: 15px;
		background: $orange;
		color: #fff;
		border-radius: 50%;
		bottom: 70px;
		padding-top: 1px;
		text-align: center;
		right: 20px;
		margin-top: 0px;
	}


	img {
		position: absolute;
		width: 55px;
	}

	.applyButton {
		text-align: center;
		margin-bottom: 10px;
		margin-top: 10px;

	}

	.loanValueText {
		//text-align: center;
		.btn {
			margin-top: 10px;
		}
	}


}



#loanValue {
		display: block;
		font-size: 22px;
		color: $red;
		text-align: center;
		font-weight: 200;
		//margin-left: -30px;
}


	

.ui-widget
.ui-corner-all {
	border-radius: 0px !important;
	outline: none;
}

.ui-slider:hover, .ui-slider:focus {
	cursor: pointer;
}

.ui-slider .ui-slider-handle {
	height: 20px !important;
	border-radius: 0% !important;
}

.ui-slider .ui-slider-handle:hover {
	cursor: pointer;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	cursor: pointer;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: #fff url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% !important;
}

.tooltip-inner {
	text-align: left !important;
}


.text-center {
	text-align: center;
}


.loanInfo {
	padding-top: 30px;
	padding-bottom: 30px;

	h1 {
		color: #505050;
	}


	.right {
		float: right;
		font-weight: bold;
		color: #16a0e8;
	}

	section {
		border: 3px solid #16A0E8;
		padding: 20px 10px 30px;
		text-align: center;

		i {
			font-size: 30px;
			color: #16a0e8;
		}

		span {
			font-size: 25px;
			color: #FF7B08;
		}
	}
}





#testimonials {
	background: url(../img/testimonials.jpg) no-repeat #000000;
	background-size: cover;
	background-position: center center;
	height: 330px;
}


.carousel-inner {
		background: none;
	}

.carousel{
	background: $blue;
	text-align: center;
	background: none;


	h1 {
		margin-bottom: 20px;
	}

	.carousel-indicators li {
		background-color: #ffffff;
		border: 2px solid #ffffff;
		width: 15px;
		height: 15px;
	}

	.carousel-indicators .active {
		background-color: $blue;
		border: 2px solid #ffffff;
		width: 16px;
		height: 16px;
	}


}

footer {
	background: $lightGreen;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;

	ul {
		margin-bottom: 30px;
    	margin-top: 20px;
    	padding-left: 0;
		li{
			font-family: $subHeading;
			color: #FFFFFF;
			display: inline;
			margin-right: 25px;
		}
	}
	h4 {
		color: #ffffff;
		padding-top: 25px;
	}

	p {
		font-size: 12px;
		color: #fff;
		margin-top: 30px;
		font-family: $subHeading;
	}
/*
	img {
		width: 115px;
	}
*/
	.footerNav {
		padding: 0;

		li {
			list-style: none;
			display: block;
			padding-top: 10px;
		}
	}

	a, span {
		color: #ffffff;
		padding-top: 30px;
	}

	a {
		font-family: $text;
		font-size: 12px;

	}

	a:hover {
		color: #16A0E8;
		text-decoration: none;
	}

	span {
		text-align: right;
		font-size: 12px;
		font-weight: 200;
		overflow: auto;
		margin-right: 10px !important;
	}

	.social {
		margin-top: 20px;
		img {
			width: 45px;
			margin: 5px 10px 5px 0;
		}
	}
}

footer.footer-pawning {
	background: #E1201C;
}

.footerBottom {
	background: #232323;
	text-align: center;
	color: #ffffff;
	padding: 40px 0;
	font-size: 12px;
	height: 100px;
}

.desktopNav {
	display: none;
}

.navbar-toggle {
    display: inline;
    border: 0 solid transparent;
    //margin-right: 0;
    border-left: 1px solid #888;
    border-radius: 0;
    margin-right: 4px;
    left: -6px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 15px;

}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

.store-locator {
	display: none;
}

.interest-calculator {
    padding: 30px 0;
}

.navbar-default {
	background-color: #fff;
}

/*
SERVICES PAWNING
*/

.services-pawning {
	padding-top: 80px;
	padding-bottom: 50px;
	background-color: $red;
	text-align: center;
	h2 {
		color: #FFF;
		font-size: 70px;
		//margin-left: 10%;
	}
	h3 {
		color: #FFF;

	}
	p {
		color: #FFF;

	}
	img {
		text-align: center;
		margin: auto;
		width:100%;
		max-width: 400px;
		margin-bottom: 20px;
	}
}

.services-interest-calculator {
	background-color: #fff;
	padding: 50px 0;
	h2, h3, ul {
		text-align: center;
	}
	ul {
		padding-left: 0;
	}
}

.loan-widget-bg{
	background-color: #EBEBEB !important;
	.form-control {
		background: #fff;
	}
}

.desktopNav2 {
	height: 54px;
	background-color: #E74F24;
}
.nav.nav-pills.navbar-right{
	margin-right: 40px;
	padding-top:	13px;	
}
.how-to-renew{
	background-color:#FFF7D6;
	padding: 50px 0;
	text-align: center;

	h2{
		margin-bottom: 50px;
	}
	img {
		text-align: center;
		margin: auto;
		width:100%;
		max-width: 300px;
		margin-bottom: 20px;
	}
}
.how-to-redeem{
	background-color:#FFF7D6;
	padding: 50px 0px 80px 0px;
	text-align: center;

	h2{
		margin-bottom: 50px;
	}
	img {
		text-align: center;
		margin: auto;
		width:100%;
		max-width: 300px;
		margin-bottom: 20px;
	}
}

.desktopNav2 li {
	a {
		font-family: "Century Gothic Regular";
		color: #fff;
		font-weight: normal;
	}
}


.how-to-pawn{
	background-color: #EBEBEB ;
	padding: 50px 0;
	text-align: center;

	h2{
		margin-bottom: 50px;
	}
	img {
		text-align: center;
		margin: auto;
		width:100%;
		max-width: 300px;
		margin-bottom: 20px;
	}
}
.howtoredeempawn{
	//margin-left: 5%;

}

.services-interest-calculator{

	li{
		display: inline;
		font-size: 18px;
	}
	.interestpercent{
		color: $red;
		margin-left: 35%;
	}
	.interestdays{
		padding-left:	0px;
		margin-top: 40px;
		margin-left: 20%;
	}
	h3{
		font-size: 19px;
	}
}

.pawning-accepted-items{
	padding: 50px 0;

	p{
		margin-top: 60px;
		font-size: 20px;
		margin-left: 14%;
	}
	h2{
		margin-bottom: 60px;
	}
}

.terms-and-conditions{
	padding: 50px 0;
	background-color:	#EBEBEB;
	h2{
		text-align: center;
		margin-bottom: 60px;
	}
	.carret{
		color: $red;
		font-weight: bold;
		font-size: 20px;
		text-align: center;
	}
	.chevron{
		margin-left: 10px;
		margin-top: 30px;
	}
}   
/*
REMITTANCE SECTION
 */

.remittancecontiner{
	//padding: 10px 10px 10px 75px;
}
.ids{
	width: 100%;
}
.remittancebg{
	background-color: #F8DD02;
// width:	49%;
}
.remittanceheader{
	font-size: 28px;

}
.remittancedesc1{
	margin-top:70px;
}
.remittancedesc2{
	margin-top:145px;
}


.accepted-id{
	background-color: $green;
	h2{
		color:#FFFFFF;
		margin-top: 100px;
	}
	p{
		margin-top: 25px;
		color:#FFFFFF;
	}
}

.acceptedidmargin{
	margin-top:	30px;
}

.btnregular{
	font-size:20px;
	padding: 10px 40px 10px 40px;
	margin-top:	30px;
}
hr.borderline-yellow{
	border-top: 8px solid #F8DD02;
	margin-bottom:0px;
}

.pawning-mobile-nav {
	position: fixed;
	z-index: 99;
	background-color: #036E3A;
    width: 100%;
    padding: 10px 2px;
    color: #fff;
    height: auto;
    a {
    	color: #fff;
    	font-family: $text;
    }
    ul {
    	list-style-type: none;
    }
}
/*
#pawning-nav {
	width: 100%;
	background-color: $red;
}
*/

/*
SERVICES TERMS AND CONDITIONS
*/
.terms-and-conditions2{
	padding: 50px 0;
	background-color: #F9F8E4;
	h2{
		margin-bottom: 60px;
	}
	.carret{
		color: $red;
		font-weight: bold;
		font-size: 20px;
		text-align: center;
	}
	.chevron{
		margin-left: 10px;
		margin-top: 30px;
	}
}   
/*
SERVICES INTERNATIONAL PARTNERS
*/

.services-international-partners {
	padding: 50px 0;


	h2 {
		margin-top: 80px;
		margin-bottom: 50px;
		font-size: 45px;
		text-align: center;
	}
	.carret2{
		color: $red;
		font-weight: bold;
		font-size: 20px;
		text-align: center;
	}

	.international2 {
		text-align: center;

		img {
			max-width: 100px;
			margin: 10px;
			margin-bottom: 50px;
		}
	}

	.chevron{
		margin-left: 10px;
		margin-top: 30px;
	}
}

/*
SERVICES AUTHORIZED AGENTS
*/
.services-authorized-agents{

	padding: 50px 0;
	background-color:	#EBEBEB;
	h2{
		margin-bottom: 60px;
		text-align: center;
	}
	.carret{
		color: $red;
		font-weight: bold;
		font-size: 20px;
		text-align: center;
	}
	.chevron{
		margin-left: 10px;
		margin-top: 30px;
	}
	li{
		font-size: 15px;
		font-family: "Century Gothic Regular";
	}
} 


/*
SERVICES ACCEPTED IDs
*/
.services-accepted-ids{
	padding: 50px 0;
	background-color:	#fff;
	h2{
		margin-bottom: 60px;
	}
	.carret{
		color: $red;
		font-weight: bold;
		font-size: 20px;
		text-align: center;
	}
	.chevron{
		margin-left: 10px;
		margin-top: 30px;
	}
} 
/*
SERVICES REMITTANCE
*/

.services-remittance {
	padding-top: 80px;
	padding-bottom: 50px;
	background-color: $green;
	text-align: center;
	h2 {
		color: #FFF;
		font-size: 70px;
		//margin-left: 10%;
	}
	h3 {
		color: #FFF;
		padding-bottom: 20px;

	}
	p {
		color: #FFF;
	}
	img {
		text-align: center;
		margin: auto;
		width:100%;
		max-width: 300px;
		margin-bottom: 20px;
	}
}

.remittance-loan-widget-bg{
	background-color: #EBEBEB !important;
}

.services-padala-calculator{
	padding: 50px 0;
	h2, p{
		text-align: center;
	}
	li{
		display: inline;
		font-size: 18px;
	}
	.interestpercent{
		color: $red;
		margin-left: 35%;
	}
	.interestdays{
		padding-left:	0px;
		margin-top: 40px;
		margin-left: 20%;
	}
	h3{
		font-size: 19px;
		text-align: center;
	}
	.center {
		margin-top: 30px;
		text-align: center;
	}
}

.search-bar-mobile {
	width: 50%;
	float: right;
	position: relative;
}


/*
=====================================
About Page
=====================================
*/
.about {

	h2 {
		font-size: 64px;
		margin-bottom: 30px;
		text-align: center;
	}
	p, ul {
		font-family: $text;
		font-size: 16px;
	}
	img {
		max-width: 320px;
	}
}

.history {
	background-color: #FFF7D6;
	margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 80px;

    img {
    	width: 320px;
    	text-align: center;
    	margin: auto;
    	margin-bottom: 30px;
    }
}

.mission {
	padding-top: 50px;
    padding-bottom: 40px;
	background-color: $red;
	h2, p, ul {
		color: #ffffff;
	}
	img {
		margin: auto;
		margin-bottom: 30px;
	}
}

.principles {
	padding-top: 50px;
    padding-bottom: 80px;
    img {
    	margin: auto;
    	margin-bottom: 30px;
    }
}

.office-directory {
	padding-top: 50px;
    padding-bottom: 80px;
    background-color: #F4F4F4;
    p {
    	font-size: 14px;
    }
    .btn {
    	text-align: center;
    }
    .border-right {
    	border-right: 1px solid #929292;
    	height: 315px;
    }
    .flex-center {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 250px;
	resize: vertical;
}
}

.contact {
	padding-top: 50px;
    padding-bottom: 80px;
    background-color: $darkYellow;
}




/* -------------------------------- 

Milestones

-------------------------------- */

.milestones {
	padding-top: 50px;
    padding-bottom: 80px;
	background-color: #FDF5D7;
	ul, ol {
		list-style-type: none;
		padding-left: 10px;
    	padding-right: 10px;
	}
	
}
.cd-horizontal-timeline {
  opacity: 0;
  margin: 2em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
}
.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}
.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}
.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
 // background-image: -webkit-linear-gradient( left , #f8f8f8, rgba(248, 248, 248, 0));
  //background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  //background-image: -webkit-linear-gradient( right , #f8f8f8, rgba(248, 248, 248, 0));
  //background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #dfdfdf;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #7b9d6f;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 15px;
  color: #383838;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #7b9d6f;
  border-color: #7b9d6f;
}
.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color: #7b9d6f;
  border-color: #7b9d6f;
}
.cd-horizontal-timeline .events a.older-event::after {
  border-color: #7b9d6f;
}
@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 1em auto;
  }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.cd-timeline-navigation a::after {
  /* arrow icon */
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/cd-arrow.svg) no-repeat 0 0;
}
.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.cd-timeline-navigation a.next {
  right: 0;
}
.no-touch .cd-timeline-navigation a:hover {
  border-color: #7b9d6f;
}
.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}
.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}
.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-content h2 {
  font-weight: bold;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.2;
}
.cd-horizontal-timeline .events-content em {
  display: block;
  font-style: italic;
  margin: 10px auto;
}
.cd-horizontal-timeline .events-content em::before {
  content: '- ';
}
.cd-horizontal-timeline .events-content p {
  //font-size: 1.4rem;
  //color: #959595;
}
.cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
  //line-height: 1.6;
}
@media only screen and (min-width: 768px) {
  .cd-horizontal-timeline .events-content h2 {
    font-size: 4rem;
  }
  .cd-horizontal-timeline .events-content em {
    font-size: 2rem;
  }

  /*
  .cd-horizontal-timeline .events-content p {
   font-size: 1.8rem;
  }
  */
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}


/*
=====================================
Media Page
=====================================
*/

.media {
	padding-top: 50px;
	background-color: #F4F4F4;
}


/*
=================================
News
=================================
*/

.news-page {
	padding-top: 50px;
    padding-bottom: 80px;
	//background-color: #F4F4F4;
	//background-color: #FFF7D6;
	background-color: #F9F8E4;
	h2 {
		margin-bottom: 30px;
	}
	h3 {
		color: $red;
	}
	.thumbnail {
		background-color: transparent;
		border: 0;
		padding: 0;
		margin-bottom: 0;
	}
	.carousel-caption {
		width: 100%;
	    background-color: rgba(128, 128, 128, 0.41);
	    padding: 8px;
	    right: 0%;
	    left: 0%;
	    bottom: 0px;
	    //text-align: left;
	}

	ul {
	    list-style: none;
	    margin: 0;
	    padding: 0;
    	li {
	    display: inline;
	}
	li:after {
	    content: ", ";
	}
	li:last-child:after {
	    content: "";
		}
	}
}

.news-listing {
	h3 {
		margin-top: 0;
	}
	img {
		width: 100%;
	}
}

.news-side {
	.social {
		a {
			display: block;
			color: #464748;
		}
		img {
			margin-right: 10px;
			width: 38px;
		}
		
	}
}

.media-carousel 
{
  margin-bottom: 30px;
  padding: 0 40px 30px 40px;
  margin-top: 0px;
  padding-bottom: 0;

  .col-md-4, .col-xs-4 {
  	padding-left: 0;
    padding-right: 0;
  }
  a {
 	color: #ffffff;
 }
 .carousel-control {
 	opacity: 1;
 }
 .carousel-control:hover {
 	opacity: 0.8;
 }
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: 0;
  background-image: none;
  background-color: $red;
  border: 0;
  border-radius: 0;
  height: 100%;
  width : 40px;
  margin: 0;
  background-image: none;
  font-size: 95px;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: 0;
	
	background-color: $red;
	border: 0;
	border-radius: 0;
	height: 100%;
	width: 40px;
	margin-top: 0;
	background-image: none;
	font-size: 95px;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: 100px;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 100%;
  height: 150px
}



/*
=================================
Expandable Search Bar for Mobile
=================================
*/

.search-form {
	position: absolute;
    right: 61px;
    top: 15px;
}

.search-field {
	background-color: transparent;
	background-image: url(../img/search-icon.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	border: none;
	cursor: pointer;
	height: 37px;
	margin: 3px 0;
	padding: 0 0 0 34px;
	position: relative;
	-webkit-transition: width 800ms ease, background 800ms ease;
	transition:         width 800ms ease, background 800ms ease;
	width: 0;
}

.search-field:focus {
	background-color: #fff;
	border: 2px solid #888;
	cursor: text;
	outline: 0;
	width: 230px;
}

.search-submit {
  display: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

/*
=================================
FAQ Page 
=================================
*/

.faq-page {
	padding-top: 80px;
	padding-bottom: 80px;
}


.transition, p, ul li i:before, ul li i:after {
  transition: all 0.25s ease-in-out;
}




/*
@media (max-width: 550px) {
  body {
    box-sizing: border-box;
    transform: translate(0, 0);
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0;
  }
}
*/

.faq-page {
	background-color: #FFF7D6;
	h1, h2 {
  //color: #ff6873;
}

	.flipIn, ul li {
	  animation: flipdown 0.5s ease both;
	}

	h3 {
		color: $red;
		font-family: $heading;
	}

	h4 {
		font-family: $subHeading;
		font-size: 24px;
	}

	.no-select, h2 {
	  -webkit-tap-highlight-color: transparent;
	  -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}


	h3 {
	  font-size: 36px;
	  line-height: 34px;
	  font-weight: 300;
	  letter-spacing: 1px;
	  display: block;
	  margin: 0;
	  cursor: pointer;
	  margin-bottom: 22px;
	}

	p {
	 // color: rgba(48, 69, 92, 0.8);
	  font-size: 17px;
	  line-height: 26px;
	  //letter-spacing: 1px;
	  position: relative;
	  overflow: hidden;
	  max-height: 800px;
	  opacity: 1;
	  transform: translate(0, 0);
	  margin-top: 14px;
	  z-index: 2;
	}

	ul {
	  list-style: none;
	  perspective: 900;
	  padding: 0;
	  margin: 0;
	}
	ul li {
	  position: relative;
	  padding: 0;
	  margin: 0;
	  padding-bottom: 4px;
	  padding-top: 18px;
	  border-top: 1px solid #A7A7A7;
	}
	ul li{
	  animation-delay: 0.5s;
	}


	ul li:last-of-type {
	  padding-bottom: 0;
	}
	ul li i {
	  position: absolute;
	  transform: translate(-6px, 0);
	  margin-top: 16px;
	  right: 0;
	}
	ul li i:before, ul li i:after {
	  content: "";
	  position: absolute;
	  background-color: $red;
	  width: 3px;
	  height: 9px;
	}
	ul li i:before {
	  transform: translate(-2px, 0) rotate(45deg);
	}
	ul li i:after {
	  transform: translate(2px, 0) rotate(-45deg);
	}
	ul li input[type=checkbox] {
	  position: absolute;
	  cursor: pointer;
	  width: 100%;
	  height: 100%;
	  z-index: 1;
	  opacity: 0;
	}
	ul li input[type=checkbox]:checked ~ p {
	  margin-top: 0;
	  max-height: 0;
	  opacity: 0;
	  transform: translate(0, 50%);
	}
	ul li input[type=checkbox]:checked ~ i:before {
	  transform: translate(2px, 0) rotate(45deg);
	}
	ul li input[type=checkbox]:checked ~ i:after {
	  transform: translate(-2px, 0) rotate(-45deg);
	}


}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

.faq-section {
	margin-top: 50px;
}
/*
.content-filter {
	animation: flipdown 0.5s ease both;
	animation-delay: 0.5s;
}
*/

/*
=================================
Custom Media Queries
=================================
*/



@media( max-width : 768px ) {



	.nav-wrap.past-hero .logo {
    	width: 100px;
	}

	.content-filter-header {
		h1 {
    		font-size: 24px;
		}
   	}

	.interest-calculator, .padala-calculator {
		h3, h4, p {
			text-align: center;
		}
	}


	#side-menu {
		background: #252525;

		#logo {
			margin-bottom: 30px;
		}

		li {
			display: block;
			clear: left;
			//padding-left: 20px;
			a {
				display: block;
				clear: left;
				font-family: $text;
				color: #ffffff;
				border-radius: 0;
				padding-left: 20px;
			}
		}

		hr {
			width: 90%;
		}
	}

	.logo-sidebar {
		width:120px;
	}

	.navbar-nav > li > a {
		border-bottom: 1px dotted #5bc0de;
		font-size: 16px !important;
	}

	.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
		background-color: transparent;
	}

	.nav > li > a:hover, .nav > li > a:focus {
		background-color: transparent; 
	}

	.logo {
		width: 75px;
	    margin-top: 5px;
	    margin-left: 10px;
	    margin-bottom: 5px;
	}

	label {
		margin-bottom: 0;
	}

	.form-control {
		margin-top: 0;
	}

	.form-group {
		margin-bottom: 5px;
	}

	.navbar {
		.navbar-toggle {
			margin-top: 20px;
		}

	}

	

	.wrap {
		p {
			margin-bottom: 30px;
		}
	}

	.testimonials {
		text-align: center;
		height: 350px;
		h2 {
			text-align: center;
		}
		p {
			text-align: center;
		}
		
	}

	.loan-widget {
		
		background: #fff;
		height: auto;
		p {
			text-align: left;
		}
	}

	.news {
		text-align: center;
		img {
			margin: auto;
		}
	}
	
	#nav1 {
		ul {
			li {
				padding-left: 0;
				margin-bottom: 10px;
			}
		}
	}

	.history {
		margin-top: 40px;
	}

	.office-directory .flex-center {
		height: 350px;
	}

}

@media( max-width : 767px ) {
	.content-filter {
		.filters {
			margin-top: 25px;
		}
	}
	.content-filter-header {
		position:static;
	}
}

@media( min-width : 581px ) {
	.media-carousel.mobile {
		display: none;
	}
}

@media( max-width : 580px ) {
	.media-carousel.tablet {
		display: none;
	}
	
}

@media( max-width : 585px ) {

	/*
	.loan-widget {
		position: relative;
		margin: auto;
		margin-top: 20px;
		width: 320px;
		height: 380px;
		background: #fff;

		a {
			padding-top: 0;	
		}

		h3 {
			text-align: center;
		}

		img {
			width: 35px;
			margin-left: 50px;
		}

		

		.applyButton {
			margin-top: 40px;
			margin-left: -210px;
		}

		.btn {
			position: relative;
			margin-left: 0px;
			font-size: 28px;
			padding-top: 3px;
			font-size: 24px;
			margin-bottom: 10px;
			width: 200px;
			height: 40px;
			margin-top: 30px;

			a {
				padding-bottom: -100px;
				margin-top: 100px;
			}
		}
	}



	#loanValue {
		margin-top: -20px;
		margin-left: 15px;
		font-size: 16px;
	}
*/
	
	footer {

		text-align: center;

		h4 {
			margin-top: -10px;
		}

		hr {
			display: none;
		}

		li {
			a {
				font-family: $subHeading;
			}
		}
		

		.footerNav {
			li {
				display: inline;
			}
		}
	
	}

	#social {
		font-size: 24px;
	}
}

@media( min-width : 481px ) {
	img.mobile {
			display: none;
		}

	.carousel {
		img.mobile {
			display: none;
		}
	}

	.content-filter-xsMobile {
		display: none;
	}
}

@media( max-width : 480px ) {

	img.desktop {
			display: none;
		}

	.carousel {
		img.desktop {
			display: none;
		}
	}

	

	.content-filter {
		display: none;
	}

	.pawning-hero {
		background: url(../img/pawning-hero-mobile.jpg) no-repeat;
		//-webkit-background-size: cover;
	   // -moz-background-size: cover;
	   // -o-background-size: cover;
	    background-size: cover;
	}

	.remittance-hero {
		background: url(../img/remittance-hero-mobile.jpg) no-repeat;
		//-webkit-background-size: cover;
	   // -moz-background-size: cover;
	   // -o-background-size: cover;
	    background-size: cover;
	}

	.interest-calculator {
		h3 {
			font-size: 40px;
		}
		h4 {
			font-size: 25px;
		}
	}

	.padala-calculator {
		h3 {
			font-size: 40px;
		}
	}

	.other-list {
		ul {
			li {
				a {
					font-size: 30px;
				}
			}
		}
	}

	.carousel-control.right {
    	right: -60px;
	}

	.carousel-control.left {
    	left: -35px;
	}


	.terms-and-conditions, .terms-and-conditions2 {
		h2 {
			font-size: 40px;
		}
	}

	.heroCarousel {
		overflow: hidden;
	}
	.about {
		h2 {
			font-size: 54px;
		}
		img {
			max-width: 280px;
		}
	}

}

@media( max-width : 320px ) {
	.other-list ul li a {
	    font-size: 23px;
	}

	.search-field:focus {
	width: 180px;
}

}
