@font-face {
  font-family: 'Century Gothic Bold';
  src: url("../fonts/century gothic/CenturyGothic-Bold.eot");
  src: url("../fonts/century gothic/CenturyGothic-Bold.svg");
  src: url("../fonts/century gothic/CenturyGothic-Bold.ttf");
  src: url("../fonts/century gothic/CenturyGothic-Bold.woff"); }
@font-face {
  font-family: 'Century Gothic Regular';
  src: url("../fonts/century gothic/CenturyGothic-Regular.eot");
  src: url("../fonts/century gothic/CenturyGothic-Regular.svg");
  src: url("../fonts/century gothic/CenturyGothic-Regular.ttf");
  src: url("../fonts/century gothic/CenturyGothic-Regular.woff"); }
@font-face {
  font-family: 'Century Gothic Bold Italic';
  src: url("../fonts/century gothic/CenturyGothic-BoldItalic.eot");
  src: url("../fonts/century gothic/CenturyGothic-BoldItalic.svg");
  src: url("../fonts/century gothic/CenturyGothic-BoldItalic.ttf");
  src: url("../fonts/century gothic/CenturyGothic-BoldItalic.woff"); }
@font-face {
  font-family: 'Century Gothic Italic';
  src: url("../fonts/century gothic/CenturyGothic-Italic.eot");
  src: url("../fonts/century gothic/CenturyGothic-Italic.svg");
  src: url("../fonts/century gothic/CenturyGothic-Italic.ttf");
  src: url("../fonts/century gothic/CenturyGothic-Italic.woff"); }
h2, h3, h4 {
  font-family: "Century Gothic Bold Italic";
  font-weight: normal; }

h1 {
  color: #ffffff;
  font-family: "Century Gothic Bold"; }

h2 {
  color: #E11C24;
  font-size: 50px; }

p, span {
  font-family: "Century Gothic Regular"; }

form label {
  font-family: "Century Gothic Regular"; }

hr {
  border-top: 1px solid #E0E0E0; }

.logo {
  width: 145px;
  transition: all 0.25s ease; }

.logoWrap {
  background-color: #F8DD02;
  padding: 20px; }

.discountsection {
  padding-top: 10px; }

/**
NAVBAR2 BG
*/
/*
SERVICES TERMS AND CONDITIONS
*/
.terms-and-conditions2 {
  padding: 80px 0;
  background-color: #F9F8E4; }
  .terms-and-conditions2 h2 {
    margin-bottom: 60px; }
  .terms-and-conditions2 .carret {
    color: #E11C24;
    font-weight: bold;
    font-size: 20px; }
  .terms-and-conditions2 .chevron {
    margin-left: 10px;
    margin-top: 30px; }
  .terms-and-conditions2 p {
    font-size: 18px; }

/*
FOOTER
*/
.footerfont a {
  font-family: "Century Gothic Bold"; }
.footerfont a:hover {
  color: #F8DD02; }

.redeemrenew-bg {
  background-color: #ECCB00;
  padding: 50px 0; }

/*
SERVICES INTERNATIONAL PARTNERS
*/
.services-international-partners {
  padding: 80px 0; }
  .services-international-partners h2 {
    margin-top: 50px;
    margin-bottom: 50px; }
  .services-international-partners .carret2 {
    color: #E11C24;
    font-weight: bold;
    font-size: 20px; }
  .services-international-partners .international2 {
    text-align: center; }
    .services-international-partners .international2 img {
      max-width: 100px;
      margin: 10px;
      margin-bottom: 50px; }
  .services-international-partners .chevron {
    margin-left: 10px;
    margin-top: 30px; }

/*
SERVICES AUTHORIZED AGENTS
*/
.services-authorized-agents {
  padding: 80px 0;
  background-color: #EBEBEB; }
  .services-authorized-agents h2 {
    margin-bottom: 60px; }
  .services-authorized-agents .carret {
    color: #E11C24;
    font-weight: bold;
    font-size: 20px; }
  .services-authorized-agents .chevron {
    margin-left: 10px;
    margin-top: 30px; }
  .services-authorized-agents li {
    font-size: 18px; }

/*
SERVICES ACCEPTED IDs
*/
.services-accepted-ids {
  padding: 80px 0;
  background-color: #fff; }
  .services-accepted-ids h2 {
    margin-bottom: 60px; }
  .services-accepted-ids .carret {
    color: #E11C24;
    font-weight: bold;
    font-size: 20px; }
  .services-accepted-ids .chevron {
    margin-left: 10px;
    margin-top: 30px; }
  .services-accepted-ids p {
    font-size: 18px; }

/*
SERVICES REMITTANCE
*/
.services-remittance {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #39A14A; }
  .services-remittance h2 {
    color: #FFF;
    font-size: 70px;
    margin-left: 10%; }
  .services-remittance h3 {
    color: #FFF;
    padding-bottom: 20px; }
  .services-remittance p {
    color: #FFF;
    font-size: 18px; }

.remittance-loan-widget-bg {
  background-color: #EBEBEB !important; }

.services-padala-calculator {
  padding: 80px 0; }
  .services-padala-calculator li {
    display: inline;
    font-size: 18px; }
  .services-padala-calculator .interestpercent {
    color: #E11C24;
    margin-left: 35%; }
  .services-padala-calculator .interestdays {
    padding-left: 0px;
    margin-top: 40px;
    margin-left: 20%; }
  .services-padala-calculator h3 {
    font-size: 19px; }
  .services-padala-calculator p {
    font-size: 18px;
    margin-top: 20px; }
  .services-padala-calculator #radio-inline {
    font-family: "Century Gothic Regular"; }
  .services-padala-calculator .radiolabelremit {
    font-family: "Century Gothic Regular"; }

/*
SERVICES PAWNING
*/
.services-pawning {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #E11C24; }
  .services-pawning h2 {
    color: #FFF;
    font-size: 70px;
    margin-left: 10%; }
  .services-pawning h3 {
    color: #FFF; }
  .services-pawning p {
    color: #FFF;
    font-size: 18px; }

.form-control.servicesloanwidget {
  background-color: #EBEBEB !important; }

.services-interest-calculator {
  background-color: #fff;
  padding: 80px 0; }
  .services-interest-calculator hr {
    margin-top: 10px;
    margin-bottom: 10px; }
  .services-interest-calculator .radiolabelremit {
    font-weight: normal;
    font-family: "Century Gothic Regular";
    margin-right: 5px; }

.loan-widget-bg {
  background-color: #EBEBEB !important; }

.desktopNav3 {
  height: 54px;
  background-color: #036E3A; }

.desktopNav2 {
  height: 54px;
  background-color: #036E3A; }

.nav.nav-pills.navbar-right {
  margin-right: 40px;
  padding-top: 13px; }

.how-to-renew {
  background-color: #FFF7D6;
  padding: 80px 0; }
  .how-to-renew h2 {
    margin-bottom: 50px; }
  .how-to-renew p {
    font-size: 18px; }

.how-to-redeem {
  background-color: #FFF7D6;
  padding: 80px 0px 80px 0px; }
  .how-to-redeem h2 {
    margin-bottom: 50px; }
  .how-to-redeem .loan-widget .form-control {
    background-color: #EBEBEB !important; }
  .how-to-redeem p {
    font-size: 18px; }

.img-responsive.how-to-redeem-img {
  margin-left: 10%; }

.desktopNav3 li a {
  font-family: "Century Gothic Regular";
  color: #fff;
  font-weight: normal; }
.desktopNav3 li a:hover {
  background-color: #E74F24; }
.desktopNav3 li a:focus {
  background-color: #E74F24; }

.desktopNav2 li a {
  font-family: "Century Gothic Regular";
  color: #fff;
  font-weight: normal; }
.desktopNav2 li a:hover {
  background-color: #E74F24; }
.desktopNav2 li a:focus {
  background-color: #E74F24; }

.how-to-pawn {
  background-color: #EBEBEB;
  padding: 80px 0; }
  .how-to-pawn h2 {
    margin-bottom: 50px; }
  .how-to-pawn p {
    font-size: 18px; }

.howtoredeempawn {
  margin-left: 5%; }

.services-interest-calculator li {
  display: inline;
  font-size: 18px; }
.services-interest-calculator .interestpercent {
  color: #E11C24;
  margin-left: 35%; }
.services-interest-calculator .interestdays {
  padding-left: 0px;
  margin-top: 40px;
  margin-left: 20%; }
.services-interest-calculator h3 {
  font-size: 19px; }
.services-interest-calculator .loan-widget.loan-widget-bg {
  height: 480px; }

.services-interest-calculator .loan-widget .applyButton {
  margin-top: 10px;
  font-size: 20px;
  width: 109%; }

.pawning-accepted-items {
  padding: 80px 0; }
  .pawning-accepted-items p {
    margin-top: 60px;
    font-size: 20px; }
  .pawning-accepted-items h2 {
    margin-bottom: 60px; }

.loanAmount {
  width: 140px; }

#loanDays {
  width: 140px; }

.terms-and-conditions {
  padding: 80px 0;
  background-color: #EBEBEB; }
  .terms-and-conditions h2 {
    margin-bottom: 60px; }
  .terms-and-conditions .carret {
    color: #E11C24;
    font-weight: bold;
    font-size: 20px; }
  .terms-and-conditions .chevron {
    margin-left: 10px;
    margin-top: 30px; }
  .terms-and-conditions p {
    font-size: 18px; }

/*
REMITTANCE SECTION
*/
.remittancecontiner {
  padding: 10px 10px 10px 75px; }

.ids {
  width: 100%; }

.remittancebg {
  background-color: #F8DD02; }

.remittanceheader {
  font-size: 28px; }

.remittancedesc1 {
  margin-top: 70px; }

.remittancedesc2 {
  margin-top: 145px; }

.accepted-id {
  background-color: #39A14A; }
  .accepted-id h2 {
    color: #FFFFFF;
    margin-top: 100px; }
  .accepted-id p {
    margin-top: 25px;
    color: #FFFFFF;
    font-size: 18px; }

.acceptedidmargin {
  margin-top: 30px; }

.btnregular {
  font-size: 20px;
  padding: 10px 40px 10px 40px;
  margin-top: 30px; }

hr.borderline-yellow {
  border-top: 8px solid #F8DD02;
  margin-bottom: 0px; }

/*
HOW TO PAWN SECTION

*/
.btn.btn-danger.rightbtn {
  float: right;
  font-size: 15px;
  padding: 10px 25px 10px 25px;
  margin-top: 10px; }

.testimonials h2 {
  color: #000000;
  text-align: left; }

.testimonials p {
  text-align: left; }

.testimonials p:nth-child(3) {
  margin-top: 20px; }

.insurance h2, .insurance p {
  color: #fff; }

/*
SUKI & MYWALLET SECTION
*/
.btn.btn-danger.howtoapplybtn {
  font-size: 20px;
  padding: 10px 40px 15px 40px;
  margin-top: 10px; }

.btn.btn-danger.learnmorebtn {
  font-size: 20px;
  padding: 10px 40px 15px 40px;
  margin-top: 10px;
  background: #fff;
  border-color: #fff;
  color: #E11C24; }

.loan-widget-row {
  margin-top: 10px;
  margin-bottom: 20px; }

#radio-suki-remittance2 {
  margin-right: 5px; }

#radio-vmsl {
  margin-right: 5px; }

#radio-ncrl {
  margin-right: 5px; }

.feelabel {
  color: #E11C24;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold; }

.feeValue.feeholder {
  color: #E11C24;
  padding: 5px 10px 5px 10px;
  width: 120px; }

.col-sm-6.loanValueText {
  padding: 0px; }

.padalaValue.remittance {
  border-style: inset;
  width: 80%;
  background: rgba(115, 115, 115, 0.28);
  padding: 5px 10px 5px 10px; }

.col-sm-6.amountwrap {
  padding: 0; }

.form-control.amount {
  border-width: 1px;
  border-style: inset; }

.container.content-filter {
  margin-top: -7px; }

/*
HEADER FILTER
*/
.col-sm-10.col-sm-offset-1 {
  margin-left: 11%; }

/*
REMITTANCE OPTIONS SECTION
*/
.remittance-options h3 {
  color: #E11C24;
  margin-bottom: 20px;
  margin-top: 35px; }
.remittance-options .col-sm-7 img {
  float: right; }
.remittance-options p {
  font-size: 18px; }

.content-filter {
  text-align: center;
  margin: auto; }
  .content-filter .filters {
    margin-top: 60px; }
    .content-filter .filters p {
      font-family: "Century Gothic Italic";
      color: #E11C24; }
  .content-filter .btn-lg {
    font-size: 24px; }

.content-filter-header {
  background-color: #E11C24;
  padding: 15px;
  position: absolute;
  z-index: 99;
  top: -25px;
  text-align: center;
  margin: auto;
  width: 100%; }
  .content-filter-header h1 {
    font-size: 30px;
    margin: 0; }

.pawning-hero {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  min-height: 90%;
  display: block; }

.remittance-hero {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  min-height: 90%; }

.store-locator {
  background-color: #39A14A;
  padding-top: 65px;
  padding-bottom: 40px; }
  .store-locator h3 {
    font-family: "Century Gothic Regular";
    color: #FFFFFF;
    display: inline;
    font-size: 29px; }
  .store-locator .form-control {
    margin: 0; }

.store-locator.pawning {
  padding-top: 35px;
  padding-bottom: 23px; }
  .store-locator.pawning h3 {
    font-family: "Century Gothic Regular";
    color: #FFFFFF;
    display: inline;
    font-size: 29px; }

.store-locator.remittance {
  padding-top: 35px;
  padding-bottom: 23px; }
  .store-locator.remittance h3 {
    font-family: "Century Gothic Regular";
    color: #FFFFFF;
    display: inline;
    font-size: 29px; }

.top-margin {
  height: 90px; }

.nav-wrap {
  background-color: #FFFFFF;
  width: 100%;
  position: fixed;
  z-index: 1000;
  transition: all 0.25s ease; }

.nav-wrap.past-hero .logo {
  width: 130px; }
.nav-wrap.past-hero .logoWrap {
  padding: 0; }

.btn-danger {
  background-color: #E11C24; }

#map {
  height: 600px;
  display: none;
  transition: all 0.25s ease; }

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  resize: vertical; }

.pawning {
  padding-top: 50px;
  padding-bottom: 50px; }
  .pawning h2 {
    margin-top: 80px; }
  .pawning h3 {
    color: #E11C24;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px; }
  .pawning .description {
    margin-top: 30px; }
  .pawning .international {
    text-align: center; }
    .pawning .international img {
      max-width: 100px;
      margin: 10px;
      margin-bottom: 30px; }
    .pawning .international .btn {
      text-align: center; }
  .pawning p {
    font-size: 18px; }

.accepted-items img {
  margin: 10px; }

.interest-calculator {
  background-color: #E11C24;
  padding: 80px 0; }
  .interest-calculator h1, .interest-calculator h2, .interest-calculator h3, .interest-calculator h4, .interest-calculator p {
    color: #FFFFFF; }
  .interest-calculator h3, .interest-calculator h4 {
    font-family: "Century Gothic Bold"; }
  .interest-calculator h3 {
    margin-top: 90px;
    font-size: 50px; }
  .interest-calculator h4 {
    font-size: 30px; }
  .interest-calculator .radiolabelremit {
    font-weight: normal;
    font-size: 18px;
    margin-right: 10px; }
  .interest-calculator p {
    font-size: 18px; }

.padala-calculator {
  background-color: #39A14A;
  padding: 80px 0; }
  .padala-calculator h1, .padala-calculator h2, .padala-calculator h3, .padala-calculator h4, .padala-calculator p {
    color: #FFFFFF; }
  .padala-calculator h3, .padala-calculator h4 {
    font-family: "Century Gothic Bold Italic"; }
  .padala-calculator h3 {
    margin-top: 150px;
    font-size: 50px; }
  .padala-calculator h4 {
    font-size: 30px; }
  .padala-calculator .loan-widget .ui-widget-content {
    background: #39A14A !important; }
  .padala-calculator #padalaValue {
    color: #39A14A; }
  .padala-calculator #radio-inline {
    font-weight: normal;
    font-size: 18px; }
  .padala-calculator .radiolabelremit {
    font-weight: normal;
    font-size: 18px; }
  .padala-calculator p {
    font-size: 18px; }

.bills-payment {
  padding: 50px 0;
  background-color: #ECCB00; }
  .bills-payment h2 {
    margin-top: 80px; }
  .bills-payment p {
    font-size: 18px; }

.suki-card {
  padding: 50px 0;
  background-color: #fff; }
  .suki-card h2 {
    margin-top: 80px;
    margin-bottom: 30px; }
  .suki-card p {
    font-size: 18px; }

.other {
  padding: 40px 0; }
  .other h2 {
    margin-top: 70px;
    font-size: 42px; }
  .other p {
    font-size: 18px; }

.e-loading {
  padding: 50px 0;
  background-color: #ECCB00; }
  .e-loading h2 {
    margin-top: 80px; }
  .e-loading p {
    font-size: 18px; }

.insurance {
  padding: 50px 0;
  background-color: #39A14A; }
  .insurance h2 {
    margin-top: 80px; }
  .insurance p {
    font-size: 18px; }

.testimonials p {
  font-size: 18px;
  margin-top: 50px; }
.testimonials .carousel .carousel-indicators .active {
  background-color: #E11C24;
  width: 20px;
  height: 20px; }
.testimonials .carousel .carousel-indicators li {
  background-color: #6F6F6F;
  width: 20px;
  height: 20px; }

.news {
  padding: 70px 0;
  background-color: #F9F8E4; }
  .news h2 {
    margin-top: 20px;
    margin-bottom: 40px; }
  .news a {
    color: #E11C24; }
  .news a.btn {
    margin-top: 20px;
    color: #FFF; }
  .news p {
    font-size: 18px; }

.desktopNav {
  height: 90px; }

.wrap {
  background-color: gray;
  background: url(../img/background_image.jpg) no-repeat #000000;
  background-position: center center;
  background-size: cover;
  padding: 30px 0;
  height: 494px; }
  .wrap h1 {
    font-size: 62px;
    text-shadow: 2px 2px 8px #5F5F5F;
    margin-top: 100px; }
  .wrap h3 {
    font-family: "Century Gothic Bold Italic"; }
  .wrap p {
    color: #ffffff;
    font-size: 18px; }
  .wrap #highlight {
    display: inline;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5); }

.wrapInnerPage {
  background-color: gray;
  background: url(../img/background_image_cropped.jpg) no-repeat #000000;
  background-position: center center;
  background-size: cover;
  height: 200px;
  text-align: center; }
  .wrapInnerPage h1 {
    text-align: center;
    font-size: 55px;
    margin-top: 60px;
    color: #ffffff;
    padding: 5px;
    display: inline-table;
    background: rgba(0, 0, 0, 0.3); }

.overlay {
  background: rgba(0, 0, 0, 0.2);
  height: 200px;
  width: 100%; }

input:focus {
  background: #E8F6FC; }

.nav-pills {
  padding-top: 20px; }

.navbar-brand {
  position: absolute;
  z-index: 99;
  padding: 0; }

.heroCarousel {
  /* Carousel Header Styles */ }
  .heroCarousel .carousel-inner img {
    width: 100%;
    height: auto; }
  .heroCarousel .carousel-control {
    width: 0; }
  .heroCarousel .carousel-control.left,
  .heroCarousel .carousel-control.right {
    opacity: 1;
    filter: alpha(opacity=100);
    background-image: none;
    background-repeat: no-repeat;
    text-shadow: none; }
  .heroCarousel .carousel-control.left span {
    padding: 15px; }
  .heroCarousel .carousel-control.right span {
    padding: 15px; }
  .heroCarousel .carousel-control .glyphicon-chevron-left,
  .heroCarousel .carousel-control .glyphicon-chevron-right,
  .heroCarousel .carousel-control .icon-prev,
  .heroCarousel .carousel-control .icon-next {
    position: absolute;
    top: 45%;
    z-index: 5;
    display: inline-block; }
  .heroCarousel .carousel-control .glyphicon-chevron-left,
  .heroCarousel .carousel-control .icon-prev {
    left: 45px;
    font-size: 40px;
    color: rgba(27, 27, 27, 0.8); }
  .heroCarousel .carousel-control .glyphicon-chevron-right,
  .heroCarousel .carousel-control .icon-next {
    right: 75px;
    font-size: 40px;
    color: rgba(27, 27, 27, 0.8); }
  .heroCarousel .carousel-control.left span:hover,
  .heroCarousel .carousel-control.right span:hover {
    opacity: .7;
    filter: alpha(opacity=70); }
  .heroCarousel .header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff; }
  .heroCarousel .header-text h2 {
    font-size: 40px; }
  .heroCarousel .header-text h2 span {
    background-color: #2980b9;
    padding: 10px; }
  .heroCarousel .header-text h3 span {
    background-color: #000;
    padding: 15px; }
  .heroCarousel .btn-min-block {
    min-width: 170px;
    line-height: 26px; }
  .heroCarousel .btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px; }

.psize {
  font-size: 18px; }

.navbar p {
  font-family: "Century Gothic Bold";
  color: #58595B;
  text-align: right;
  margin-top: 30px;
  margin-bottom: -10px;
  margin-right: 10px;
  height: 10px; }
.navbar .fa-search {
  border-left: 1px solid #58595B;
  padding-left: 11px; }
.navbar .search-form {
  height: 1px;
  margin-top: 13px; }
.navbar .searcharea {
  padding-right: 0px; }

li a {
  font-family: "Century Gothic Bold";
  color: #58595B; }

.navbar-nav > li > a {
  padding: 0px; }

.nav > li > a {
  padding: 5px 10px; }

.navbar-nav > li > a:hover {
  text-decoration: none;
  background-color: #F79125;
  padding: -100px; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #F79125; }

.form-control {
  border-radius: 0; }

#login-modal .modal-dialog {
  width: 350px; }

#login-modal input[type=text], input[type=password], select {
  margin-top: 10px; }

#register-form, #lost-form, #login-form, .modal-footer {
  background-color: #ECECEC; }

#div-login-msg,
#div-lost-msg,
#div-register-msg {
  border: 1px solid #dadfe1;
  height: 30px;
  line-height: 28px;
  transition: all ease-in-out 500ms; }

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
  border: 1px solid #68c3a3;
  background-color: #c8f7c5; }

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
  border: 1px solid #eb575b;
  background-color: #ffcad1; }

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
  width: 30px;
  float: left;
  line-height: 28px;
  text-align: center;
  background-color: #dadfe1;
  margin-right: 5px;
  transition: all ease-in-out 500ms; }

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
  background-color: #68c3a3 !important; }

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
  background-color: #eb575b !important; }

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .8; }

.modal-content {
  background-color: #ececec;
  border-radius: 0px;
  outline: 0; }
  .modal-content img {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px; }

.modal-header {
  min-height: 16.43px;
  padding: 15px 15px 15px 15px;
  border-bottom: 0px; }

.modal-body {
  position: relative;
  padding: 5px 15px 5px 15px; }

.modal-footer {
  padding: 15px 15px 15px 15px;
  text-align: left;
  border-top: 0px; }

.checkbox {
  margin-bottom: 0px; }

.btn {
  border-radius: 0px;
  font-family: "Century Gothic Bold"; }

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none; }

.btn-lg, .btn-group-lg > .btn {
  border-radius: 0px; }

.btn-link {
  padding: 5px 10px 0px 0px;
  color: #95a5a6; }

.btn-link:hover, .btn-link:focus {
  color: #2c3e50;
  text-decoration: none; }

.btn-warning {
  background-color: #F79125; }

.btn-warning:hover {
  background-color: #E88522; }

.glyphicon {
  top: 0px; }

.form-control {
  border-radius: 0px; }

.modal-body {
  overflow: auto; }
  .modal-body img {
    width: 100%; }

.modal-header button {
  padding-bottom: 10px; }

/*
=====================================
WIDGET
=====================================
*/
.interest-calculator .loan-widget {
  height: 500px; }
.interest-calculator .applyButton {
  font-size: 20px;
  width: 111%;
  margin-top: 10px; }

.loan-widget {
  background: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  height: 400px;
  margin-left: -10px;
  margin-top: 50px;
  /*
  	a {
  		display: block;
  		background: $orange;
  		color: #ffffff;
  		border-radius: 3px;
  		text-align: center;
  		font-size: 15px;
  		padding-top: 5px;
  		width: 145px;
  		height: 30px;
  		font-family: $heading;
  		margin-left: -30px;
  	}
  	*/ }
  .loan-widget .ui-widget-content {
    background: #E11C24; }
  .loan-widget h3 {
    margin-top: 0;
    color: #58595B;
    font-family: "Century Gothic Bold Italic"; }
  .loan-widget .title {
    display: block;
    color: #58595B;
    margin-bottom: 10px; }
  .loan-widget input {
    background: none;
    color: #58595B;
    border: 0;
    font-weight: 200;
    font-size: 20px;
    margin-top: 5px; }
  .loan-widget .radio-inline {
    font-family: "Century Gothic Regular";
    color: #58595B; }
  .loan-widget label {
    color: #58595B; }
  .loan-widget .radioDiv {
    margin-left: 80px;
    margin-top: -32px;
    margin-bottom: 10px; }
  .loan-widget input[type="radio"] + label {
    color: #ffffff;
    font-family: "Century Gothic Bold Italic";
    font-size: 14px; }
  .loan-widget input[type="radio"] + label span {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #ffffff; }
  .loan-widget input[type="radio"] + label span {
    background-color: #ffffff; }
  .loan-widget input[type="radio"]:checked + label span {
    background-color: #fca951; }
  .loan-widget a:hover {
    text-decoration: none; }
  .loan-widget .form-control {
    background: #fff;
    box-shadow: none;
    height: auto;
    padding: 5px 10px 5px 10px;
    margin-top: 5px; }
  .loan-widget .interest-form-control {
    background: #fff;
    box-shadow: none;
    height: auto;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    color: #E11C24; }
  .loan-widget .tips {
    font-size: 10px;
    display: inline-block;
    height: 15px;
    width: 15px;
    background: #F79125;
    color: #fff;
    border-radius: 50%;
    bottom: 70px;
    padding-top: 1px;
    text-align: center;
    right: 20px;
    margin-top: 0px; }
  .loan-widget img {
    position: absolute;
    width: 55px; }

#loanValue {
  display: block;
  font-size: 22px;
  color: #E11C24;
  text-align: center;
  font-weight: 200; }

#bdayCalendar .ui-widget-content {
  background: #ffffff !important; }

.ui-widget
.ui-corner-all {
  border-radius: 0px !important;
  outline: none; }

.ui-slider:hover, .ui-slider:focus {
  cursor: pointer; }

.ui-slider .ui-slider-handle {
  height: 20px !important;
  border-radius: 0% !important; }

.ui-slider .ui-slider-handle:hover {
  cursor: pointer; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  cursor: pointer; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #fff url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% !important; }

.tooltip-inner {
  text-align: left !important; }

.accountHead {
  background-color: #007bc0;
  padding: 20px; }
  .accountHead span, .accountHead a {
    color: #ffffff;
    font-size: 18px; }
  .accountHead span i {
    margin-right: 10px; }
  .accountHead a {
    float: right; }
    .accountHead a i {
      margin-left: 10px; }

.loanInfo {
  padding-top: 30px;
  padding-bottom: 30px; }
  .loanInfo h1 {
    color: #505050; }
  .loanInfo .right {
    float: right;
    font-weight: bold;
    color: #16a0e8; }
  .loanInfo section {
    border: 3px solid #16A0E8;
    padding: 20px 10px 30px;
    text-align: center; }
    .loanInfo section i {
      font-size: 30px;
      color: #16a0e8; }
    .loanInfo section span {
      font-size: 25px;
      color: #FF7B08; }

.homeCta {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f4ea; }
  .homeCta section {
    margin: 10px;
    padding: 50px 10px;
    border: 2px solid #cccccc;
    text-align: center; }
    .homeCta section h3 {
      font-size: 40px; }
    .homeCta section p {
      margin-top: 30px;
      margin-bottom: 31px;
      font-size: 26px; }
    .homeCta section .loanType {
      margin-bottom: 5px; }
    .homeCta section ul {
      margin-top: 11px; }
    .homeCta section li {
      color: #229fe7;
      text-align: left; }
      .homeCta section li a {
        color: #229fe7;
        font-family: "Century Gothic Regular"; }
    .homeCta section .btn {
      margin-top: 20px;
      font-size: 30px; }
  .homeCta .loanType {
    display: block;
    font-size: 23px;
    margin-bottom: 10px; }

/*
=====================================
About
=====================================
*/
.about {
  padding-top: 50px; }

.about, .how {
  text-align: center;
  padding-top: -30px;
  padding-bottom: 90px;
  background-color: #ffffff; }
  .about h1, .how h1 {
    color: #229fe7;
    margin-bottom: 50px;
    font-size: 42px;
    letter-spacing: 1px;
    line-height: 125%; }
  .about h2, .how h2 {
    color: #F79125;
    font-size: 15px;
    font-family: "Century Gothic Bold Italic"; }
  .about h5, .how h5 {
    font-size: 18px;
    font-weight: lighter;
    font-family: "Century Gothic Regular";
    line-height: 150%; }
  .about p, .how p {
    font-size: 15px;
    color: #505050; }
  .about .uvp, .how .uvp {
    text-align: center;
    margin-top: 30px;
    padding: 45px; }
    .about .uvp h4, .how .uvp h4 {
      display: block;
      font-size: 30px;
      color: #333333;
      font-family: "Century Gothic Bold Italic";
      margin-bottom: 10px;
      line-height: 100%; }
  .about img, .how img {
    width: 100px;
    margin-bottom: 10px; }
  .about span, .how span {
    display: block;
    font-size: 30px;
    color: #333333;
    font-family: "Century Gothic Bold Italic";
    margin-bottom: 10px;
    line-height: 100%; }

.howItWorks {
  background: #cccccc;
  height: 225px;
  background: url(../img/how-it-works.jpg) no-repeat #000000;
  background-size: cover;
  background-position: center center; }
  .howItWorks h1 {
    text-align: center;
    margin: 90px 0;
    font-size: 55px; }

s
.how {
  padding-top: 30px;
  padding-bottom: 30px; }
  s
  .how .items {
    margin-bottom: 40px; }
    s
    .how .items p {
      text-align: justify; }
    s
    .how .items img {
      float: right;
      margin-right: 20px; }

.faqCta {
  background: #4eb9e7;
  text-align: center;
  padding: 10px 0 30px; }
  .faqCta h2 {
    color: #ffffff;
    font-size: 42px;
    margin-bottom: 30px; }
  .faqCta h3 {
    margin-top: 0; }
  .faqCta p {
    padding-top: 30px;
    color: #ffffff;
    overflow: auto;
    font-size: 30px; }
  .faqCta a {
    font-size: 25px; }
  .faqCta .number {
    font-size: 70px;
    width: 60px;
    float: left;
    border-right: 1px solid #ffffff;
    margin-right: 20px;
    line-height: normal; }

.carousel-caption {
  position: relative;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: none;
  margin-top: 60px;
  background: none; }

.eligibility {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px; }
  .eligibility h2 {
    color: #16a0e8;
    font-size: 30px; }
  .eligibility p {
    font-size: 20px;
    color: #505050;
    margin-bottom: 30px; }
  .eligibility span {
    display: block;
    text-align: center; }
  .eligibility a {
    display: block;
    background: #16a0e8;
    color: #ffffff;
    border-radius: 3px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 345px;
    margin: 30px auto; }
  .eligibility a:hover {
    text-decoration: none; }

.application {
  display: block;
  clear: both;
  padding-bottom: 30px;
  margin-top: 50px; }
  .application .text {
    height: 360px;
    overflow: scroll;
    border: 1px solid #C9C9C9;
    padding: 10px;
    margin-bottom: 20px; }
  .application h1 {
    color: #007bc0; }
  .application h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    color: #F79125; }
  .application h4, .application label {
    color: #505050; }
  .application h3 {
    color: #007bc0; }
  .application .bottomMargin {
    margin-bottom: 30px; }

.aboutUs, .contactUs, .faq, .login, .howItWorksContent {
  padding-top: 30px;
  padding-bottom: 30px; }
  .aboutUs h1, .contactUs h1, .faq h1, .login h1, .howItWorksContent h1 {
    color: #007bc0;
    margin-bottom: 10px; }
  .aboutUs h3, .contactUs h3, .faq h3, .login h3, .howItWorksContent h3 {
    margin-bottom: 10px;
    color: #F79125; }
  .aboutUs p, .contactUs p, .faq p, .login p, .howItWorksContent p {
    font-size: 18px;
    text-align: justify; }
  .aboutUs img, .contactUs img, .faq img, .login img, .howItWorksContent img {
    width: 100%; }

.login {
  padding-top: 30px;
  padding-bottom: 30px; }
  .login .checkbox {
    margin-bottom: 20px; }
  .login .btn {
    float: right; }

.platforms {
  background: #ffffff;
  text-align: center;
  padding-top: 30px;
  background-color: #ffffff; }
  .platforms h1 {
    font-size: 40px;
    color: #229fe7; }
  .platforms img {
    width: 100px; }
  .platforms span {
    font-family: "Century Gothic Bold Italic";
    margin-bottom: 10px; }
  .platforms p {
    padding: 10px;
    font-size: 30px; }
  .platforms img {
    width: 750px; }

.account .loan-widget {
  display: none; }

#testimonials {
  background: url(../img/testimonials.jpg) no-repeat #000000;
  background-size: cover;
  background-position: center center;
  height: 330px; }

.carousel-inner {
  background: none; }

.carousel {
  background: #229fe7;
  text-align: center;
  background: none; }
  .carousel h1 {
    margin-bottom: 20px; }
  .carousel .carousel-indicators li {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    width: 15px;
    height: 15px; }
  .carousel .carousel-indicators .active {
    background-color: #229fe7;
    border: 2px solid #ffffff;
    width: 16px;
    height: 16px; }

.bottomCta {
  background: #cccccc;
  text-align: center;
  padding: 50px 0; }
  .bottomCta p {
    font-size: 18px;
    color: #282828; }
  .bottomCta .btn {
    margin-top: 15px;
    font-size: 30px; }

.contentBackground {
  background-color: #E3F3FC; }

.contentBox {
  background-color: white;
  border: 1px solid #D3D3D3;
  margin-bottom: 30px;
  padding: 30px 30px; }

.backgroundcolorDiv {
  background-color: #E0E0E0; }

.backgroundDivBlue {
  background-color: #E3F3FC; }

.backgroundDivSolidOrange {
  background-color: #F79125; }

.backgroundDivSolidBlue {
  background-color: #229fe7; }

.bottomAbout {
  text-align: center;
  padding-top: 30px; }
  .bottomAbout h1 {
    font-size: 40px;
    color: #229fe7; }
  .bottomAbout img {
    width: 100px; }
  .bottomAbout span {
    font-family: "Century Gothic Bold Italic";
    margin-bottom: 10px; }
  .bottomAbout p {
    padding: 10px;
    font-size: 30px; }
  .bottomAbout img {
    width: 750px; }

footer {
  background: #11B864;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  /*
  	img {
  		width: 115px;
  	}
  	*/ }
  footer ul {
    margin-bottom: 30px;
    margin-top: 20px; }
    footer ul li {
      font-family: "Century Gothic Bold";
      color: #FFFFFF;
      display: inline;
      margin-right: 30px; }
  footer h4 {
    color: #ffffff;
    padding-top: 25px; }
  footer p {
    font-size: 12px;
    color: #fff;
    margin-top: 30px;
    font-family: "Century Gothic Bold"; }
  footer .footerNav {
    padding: 0; }
    footer .footerNav li {
      list-style: none;
      display: block;
      padding-top: 10px; }
  footer a, footer span {
    color: #ffffff;
    padding-top: 30px; }
  footer a {
    font-family: "Century Gothic Regular";
    font-size: 12px; }
  footer a:hover {
    color: #16A0E8;
    text-decoration: none; }
  footer span {
    text-align: right;
    font-size: 12px;
    font-weight: 200;
    overflow: auto;
    margin-right: 10px !important; }
  footer .social {
    margin-top: 20px; }
    footer .social img {
      width: 45px;
      margin: 5px 10px 5px 0; }

footer.footer-pawning {
  background: #E1201C; }

.footerBottom {
  background: #232323;
  text-align: center;
  color: #ffffff;
  padding: 40px 0;
  font-size: 12px;
  height: 100px; }

/*
================================
Application Steps
================================
*/
.applicationBackground {
  background-color: #F79125; }

.bs-wizard {
  margin-top: -20px;
  margin-bottom: -20px; }

/*Form Wizard*/
.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0; }

.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative; }

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #FFFFFF;
  font-family: "Century Gothic Regular";
  font-size: 16px;
  margin-bottom: 5px; }

.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 14px; }

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #fbe8aa;
  top: 45px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%; }

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  content: ' ';
  width: 14px;
  height: 14px;
  background: #fbbd19;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px; }

.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  box-shadow: none;
  margin: 20px 0; }

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #fbe8aa; }

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%; }

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%; }

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%; }

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%; }

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #f5f5f5; }

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0; }

.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%; }

.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%; }

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none; }

/*END Form Wizard*/
.wizard {
  margin: 20px auto;
  background: #fff; }
  .wizard .form-control {
    border-color: #5BC0DE; }
  .wizard h3 {
    color: #007bc0; }
  .wizard hr {
    background-color: #D3D3D3;
    color: #D3D3D3;
    border-color: #D3D3D3; }

.wizard .nav-tabs {
  position: relative;
  margin: 40px auto;
  margin-bottom: 0;
  border-bottom-color: #5BC0DE; }

.wizard > div.wizard-inner {
  position: relative; }

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1; }

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent; }

span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px; }

span.round-tab i {
  color: #555555; }

.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #5bc0de; }

.wizard li.active span.round-tab i {
  color: #5bc0de; }

span.round-tab:hover {
  color: #333;
  border: 2px solid #333; }

.wizard .nav-tabs > li {
  width: 25%; }

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #5bc0de;
  transition: 0.1s ease-in-out; }

.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #5bc0de; }

.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0; }

.wizard .nav-tabs > li a:hover {
  background: transparent; }

.wizard .tab-pane {
  position: relative;
  padding-top: 50px; }

.wizard h3 {
  margin-top: 0; }

.contactForm textarea {
  margin-bottom: 20px; }
.contactForm .btn {
  float: right;
  margin-bottom: 30px; }

.introLoading .doubleLoaderTop h3 {
  color: #ffffff;
  z-index: 1000;
  text-align: center;
  margin-top: 150px; }

/*
=================================
Custom Media Queries
=================================
*/
@media (max-width: 793px) {
  .services-interest-calculator .loan-widget label {
    font-size: 12px; }

  .interest-calculator .loan-widget label {
    font-size: 12px; }

  .interest-calculator .loan-widget {
    height: 350px; }

  .store-locator .form-control {
    font-size: 12px; }

  .padala-calculator .feeValue.feeholder {
    font-size: 15px; }
  .padala-calculator .loan-widget label {
    font-size: 12px; }
  .padala-calculator .loan-widget .feelabel {
    font-size: 12px; }
  .padala-calculator .padalaValue.remittance {
    font-size: 15px; } }
@media (max-width: 1199px) {
  .pawning-accepted-items {
    padding: 50px; }
    .pawning-accepted-items p {
      margin-left: 6%; }

  .accepteditems-header {
    margin-top: 50px; }

  .btn.btn-danger.howtoapplybtn {
    font-size: 16px;
    padding: 10px 40px 10px 40px; }

  .btn.btn-danger.learnmorebtn {
    font-size: 16px;
    padding: 10px 40px 10px 40px; }

  .storelocator-header {
    margin-top: 5px; }

  .store-locator.pawning h3 {
    font-size: 23px; }

  .store-locator h3 {
    font-size: 23px; }

  .interest-calculator h3 {
    font-size: 45px; }
  .interest-calculator h4 {
    font-size: 20px; }
  .interest-calculator p {
    font-size: 16px; }

  .store-locator.remittance h3 {
    font-size: 23px; }

  .suki-card h2 {
    font-size: 40px;
    margin-top: 15px; }
  .suki-card p {
    font-size: 16px; }

  .testimonials h2 {
    font-size: 40px; }
  .testimonials p {
    font-size: 16px; }

  .pawning .international img {
    margin-left: -1px;
    margin-right: -1px;
    margin-top: 10px; }
  .pawning p {
    font-size: 16px; }

  .remittancecontiner h2 {
    font-size: 40px; }

  .news h2 {
    font-size: 40px; }
  .news p {
    font-size: 16px; }

  .remittance-options p {
    font-size: 16px; }

  .accepted-id h2 {
    margin-top: 40px; }
  .accepted-id p {
    font-size: 16px; }
  .accepted-id .btnregular {
    font-size: 16px;
    padding: 10px 40px 10px 40px;
    margin-top: 10px; }

  .remittanceheader {
    font-size: 20px; }

  .remittancedesc2 {
    margin-top: 65px; }

  .acceptedidmargin {
    margin-bottom: 40px; }

  .btn.btn-danger.rightbtn {
    margin-right: 80px; }

  .contentBox {
    clear: left; }

  .loan-widget {
    background: #fff;
    margin-bottom: 30px; }

  .content-filter-header {
    top: -57px; }
    .content-filter-header h1 {
      font-size: 23px; }

  .pawning h2 {
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 20px; }
  .pawning h3 {
    font-size: 20px; }

  .bills-payment h2 {
    font-size: 40px; }
  .bills-payment p {
    font-size: 16px; }

  .padala-calculator h3 {
    font-size: 44px; }
  .padala-calculator #radio-inline {
    font-size: 14px; }
  .padala-calculator .radiolabelremit {
    font-size: 14px; }
  .padala-calculator p {
    font-size: 16px; }

  .insurance h2 {
    margin-top: 15px; }

  .content-filter .filters {
    margin-top: 18px; }
  .content-filter .btn-lg {
    font-size: 20px; }

  .other p {
    margin-right: -42px; }
  .other h2 {
    font-size: 36px;
    margin-top: 50px; }

  .interest-calculator {
    padding: 50px 0; }

  .padala-calculator {
    padding: 50px 0; }

  	/*
  services
  */
  .services-padala-calculator {
    padding: 50px 0; }
    .services-padala-calculator h2 {
      font-size: 45px; }
    .services-padala-calculator p {
      font-size: 16px; }

  .services-pawning h2 {
    font-size: 45px; }
  .services-pawning p {
    margin-left: 80px;
    font-size: 16px; }
  .services-pawning h3 {
    font-size: 17px;
    margin-left: 80px; }

  .services-remittance p {
    margin-left: 80px;
    font-size: 16px; }
  .services-remittance h3 {
    font-size: 17px;
    margin-left: 80px; }
  .services-remittance h2 {
    font-size: 45px; }

  .how-to-pawn h2 {
    font-size: 45px; }
  .how-to-pawn p {
    font-size: 16px; }

  .services-accepted-ids h2 {
    font-size: 45px; }
  .services-accepted-ids p {
    font-size: 16px; }

  .services-authorized-agents h2 {
    font-size: 45px; }
  .services-authorized-agents li {
    font-size: 16px; }

  .terms-and-conditions2 h2 {
    font-size: 45px; }
  .terms-and-conditions2 p {
    font-size: 16px; }

  .services-international-partners h2 {
    font-size: 45px; }

  .how-to-renew h2 {
    font-size: 45px; }
  .how-to-renew p {
    font-size: 16px; }

  .how-to-redeem h2 {
    font-size: 45px; }
  .how-to-redeem p {
    font-size: 16px; }

  .terms-and-conditions h2 {
    font-size: 45px; }
  .terms-and-conditions p {
    font-size: 16px; }

  .desktopNav3 li a {
    font-size: 11px;
    font-weight: bold; }

  .desktopNav2 li a {
    font-size: 11px;
    font-weight: bold; }

  .nav li a {
    padding: 5px 7px; }

  .services-interest-calculator h2 {
    font-size: 45px; }
  .services-interest-calculator h3 {
    font-size: 16px; }
  .services-interest-calculator .interestdays {
    margin-top: 30px; }
  .services-interest-calculator .applyButton {
    font-size: 20px;
    padding: 5px 5px 5px 5px;
    width: 111%; }

  .pawning-accepted-items h2 {
    font-size: 45px; } }
@media (max-width: 991px) {
  .remittancedesc1 {
    margin-top: 40px; }

  .remittancedesc2 {
    margin-top: 35px; }

  .remittance-options h3 {
    margin-top: 20px; }

  .desktopNav {
    height: 90px; }

  .logo {
    width: 130px; }

  .navbar-nav > li > a {
    font-size: 12px;
    padding-left: 3px;
    padding-right: 3px; }

  .rule {
    display: none; }

  .about {
    display: block; }
    .about h1 {
      display: block; }

  .about h1 {
    margin-top: 200px; }

  .wrapInnerPage h1 {
    font-size: 45px; }

  #loanValue.form-control {
    font-size: 15px; }

  #inputdefault.form-control {
    font-size: 15px; }

  .interest-calculator h3 {
    font-size: 35px; }
  .interest-calculator h4 {
    font-size: 18px;
    margin-top: 15px; }
  .interest-calculator p {
    font-size: 16px; }
  .interest-calculator .loan-widget {
    height: 455px; }

  .loan-widget .radiolabelremit {
    font-size: 14px; }
  .loan-widget label {
    margin-bottom: 0px;
    font-size: 13px; }
  .loan-widget hr {
    margin-bottom: 5px;
    margin-top: 5px; }

  .bills-payment h2 {
    margin-top: 30px; }

  .btn.btn-danger.howtoapplybtn {
    font-size: 15px; }

  .feeValue.feeholder {
    padding-top: 0px; }

  .suki-card h2 {
    margin-top: 20px;
    font-size: 35px; }
  .suki-card p {
    font-size: 16px; }
  .suki-card .btn.btn-danger.learnmorebtn {
    font-size: 15px; }

  .testimonials h2 {
    font-size: 35px; }
  .testimonials p {
    font-size: 16px; }

  .other p {
    margin-right: -42px; }
  .other h2 {
    font-size: 34px; }

  .container {
    width: 100%; }

  .insurance h2 {
    margin-top: 0px; }
  .insurance .btn.btn-danger.rightbtn {
    margin-top: 0px; }

  .pawning h2 {
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 40px; }
  .pawning p {
    font-size: 16px;
    margin-bottom: 40px; }
  .pawning h3 {
    margin-top: 60px; }
  .pawning .btn.btn-danger.rightbtn {
    margin-top: 10px; }

  .padala-calculator h3 {
    font-size: 35px;
    margin-top: 100px; }
  .padala-calculator p {
    font-size: 16px; }
  .padala-calculator .loan-widget {
    height: 360px; }

  .services-padala-calculator h3 {
    font-size: 35px;
    margin-top: 100px; }
  .services-padala-calculator p {
    font-size: 16px; }
  .services-padala-calculator .loan-widget {
    height: 360px; }

  .accepted-id h2 {
    font-size: 35px; }
  .accepted-id p {
    font-size: 16px; }

  .news h2 {
    font-size: 35px;
    margin-left: 20px; }
  .news p {
    font-size: 16px; }

  .container.content-filter .content-filter-header {
    width: 75%;
    background-color: #E11C24;
    padding: 15px;
    position: absolute;
    z-index: 99;
    text-align: center;
    margin: auto;
    margin-left: 11%; }

  .store-locator h3 {
    font-size: 20px; }

  .store-locator.pawning h3 {
    font-size: 20px; }

  .store-locator.remittance h3 {
    font-size: 20px; }

  /*
  services
  */
  .services-pawning p {
    margin-left: 130px;
    font-size: 15px; }
  .services-pawning h3 {
    font-size: 17px;
    margin-left: 130px; }
  .services-pawning h2 {
    font-size: 60px;
    margin-bottom: 30px; }

  .services-remittance p {
    margin-left: 130px;
    font-size: 15px; }
  .services-remittance h3 {
    font-size: 17px;
    margin-left: 130px; }
  .services-remittance h2 {
    font-size: 60px;
    margin-bottom: 30px; }

  .how-to-pawn p {
    font-size: 15px; }

  .how-to-renew p {
    font-size: 15px; }

  .how-to-redeem p {
    font-size: 15px; }

  .terms-and-conditions p {
    font-size: 15px; }
  .terms-and-conditions h2 {
    font-size: 49px; }

  .terms-and-conditions2 h2 {
    font-size: 49px; }

  .desktopNav3 li a {
    font-size: 11px;
    font-weight: bold; }

  .desktopNav2 li a {
    font-size: 11px;
    font-weight: bold; }

  .nav li a {
    padding: 5px 7px; }

  .services-interest-calculator .loan-widget.loan-widget-bg {
    height: 450px; }
    .services-interest-calculator .loan-widget.loan-widget-bg label {
      font-size: 12px; }

  .accepted-items img {
    margin: 0px; }

  .accepteditems-header {
    margin-top: 50px; } }
@media (max-width: 976px) {
  .remittanceheader {
    font-size: 17px; }

  .remittancecontiner h2 {
    font-size: 35px; }

  .remittance-options p {
    font-size: 14px; } }
@media (max-width: 807px) {
  .remittancecontiner h2 {
    margin-top: 5px; } }
@media (max-width: 857px) {
  .remittancecontiner h2 {
    font-size: 30px; }

  .remittanceheader {
    font-size: 16px; }

  .remittancedesc1 {
    margin-top: 25px; }

  .remittancedesc2 {
    margin-top: 30px; }

  .remittance-options p {
    font-size: 13px; } }
@media (max-width: 800px) {
  .loan-widget {
    margin-left: 0px; }

  .services-pawning p {
    margin-left: 150px;
    font-size: 15px; }
  .services-pawning h3 {
    font-size: 17px;
    margin-left: 150px; }
  .services-pawning h2 {
    font-size: 60px;
    margin-bottom: 30px; }

  .services-remittance p {
    margin-left: 150px;
    font-size: 15px; }
  .services-remittance h3 {
    font-size: 17px;
    margin-left: 150px; }
  .services-remittance h2 {
    font-size: 60px;
    margin-bottom: 30px; }

  .desktopNav3 li a {
    font-size: 9px;
    font-weight: bold; }

  .desktopNav2 li a {
    font-size: 9px;
    font-weight: bold; } }
@media (max-width: 771px) {
  .content-filter-header h1 {
    font-size: 22px; }

  .padala-calculator .loan-widget .col-sm-6.loanValueText .feelabel {
    font-size: 12px; }
  .padala-calculator .loan-widget .col-sm-6.loanValueText label {
    font-size: 12px; } }
@media (max-width: 835px) {
  .content-filter-header h1 {
    font-size: 22px; }

  .pawning-accepted-items p {
    font-size: 17px;
    margin-left: 19%; }

  .services-padala-calculator .loan-widget .col-sm-6.loanValueText .feelabel {
    font-size: 12px; }
  .services-padala-calculator .loan-widget .col-sm-6.loanValueText label {
    font-size: 12px; } }
@media (max-width: 913px) {
  .terms-and-conditions2 h2 {
    font-size: 46px; }

  .terms-and-conditions h2 {
    font-size: 46px; } }
@media (max-width: 860px) {
  .services-interest-calculator li {
    font-size: 17px; }

  .terms-and-conditions2 h2 {
    font-size: 43px; }

  .terms-and-conditions h2 {
    font-size: 43px; } }
@media (max-width: 909px) {
  .services-padala-calculator h2 {
    font-size: 43px; } }
@media (max-width: 930px) {
  .store-locator.remittance h3 {
    font-size: 18px; }

  .store-locator.pawning h3 {
    font-size: 18px; }

  .pawning h3 {
    font-size: 17px; }

  .container {
    width: 100%; }

  .feeValue.feeholder {
    width: 100%; }

  .services-pawning p {
    margin-left: 130px;
    font-size: 15px; }
  .services-pawning h3 {
    font-size: 18px;
    margin-left: 130px; }
  .services-pawning h2 {
    font-size: 60px;
    margin-bottom: 30px; }

  .services-remittance p {
    margin-left: 130px;
    font-size: 15px; }
  .services-remittance h3 {
    font-size: 17px;
    margin-left: 130px; }
  .services-remittance h2 {
    font-size: 60px;
    margin-bottom: 30px; }

  .desktopNav3 li a {
    font-size: 10px;
    font-weight: bold; }

  .desktopNav2 li a {
    font-size: 10px;
    font-weight: bold; }

  .nav li a {
    padding: 5px 7px; } }
@media (max-width: 880px) {
  .nav li a {
    padding: 5px 6px; } }
@media (max-width: 867px) {
  .nav li a {
    padding: 5px 4px; } }
@media (max-width: 838px) {
  .services-interest-calculator li {
    font-size: 16px; }

  .desktopNav3 li a {
    font-size: 9px;
    font-weight: bold; }

  .desktopNav2 li a {
    font-size: 9px;
    font-weight: bold; } }
@media (max-width: 949px) {
  .container.content-filter .content-filter-header {
    width: 75%; } }
@media (max-width: 767px) {
  .desktopNav {
    display: none; }

  #side-menu {
    background: #252525; }
    #side-menu #logo {
      display: none; }
    #side-menu li {
      display: block;
      clear: left;
      padding-left: 20px; }
      #side-menu li a {
        display: block;
        clear: left;
        font-family: "Century Gothic Regular";
        color: #ffffff; }

  .navbar .navbar-toggle {
    margin-right: 15px; }

  .navbar-nav > li > a {
    border-bottom: 1px dotted #5bc0de;
    font-size: 16px !important; }

  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #F79125; }

  .nav > li > a:hover, .nav > li > a:focus {
    background-color: #F79125; }

  .logo {
    width: 100px;
    margin-top: 10px;
    margin-left: 10px; }

  label {
    margin-bottom: 0; }

  .form-control {
    margin-top: 0; }

  .form-group {
    margin-bottom: 5px; }

  .navbar .navbar-toggle {
    margin-top: 20px; }
  .navbar .icon-bar {
    background-color: #16A0E8 !important; }

  .wrap p {
    margin-bottom: 30px; }

  .wrapInnerPage {
    background-size: center;
    background-position: center 50px; }
    .wrapInnerPage h1 {
      margin-top: 100px;
      font-size: 38px; }

  .loan-widget {
    display: block;
    background: #fff; }

  #apply {
    margin-top: -20px; }
    #apply .tips {
      margin-left: 90px; }
    #apply #loanValue {
      margin-top: -20px;
      font-size: 18px; }
    #apply .btn {
      margin-top: -40px;
      margin-left: 260px; }

  .applicationBackground {
    margin-top: 50px; }

  .wizard {
    margin-top: 0; }
    .wizard .nav-tabs {
      margin-top: 0; } }
@media (max-width: 635px) {
  .wrapInnerPage h1 {
    font-size: 38px;
    padding: 5px; }

  .about {
    padding-top: 60px; } }
@media (max-width: 585px) {
  br:not(h1 > br) {
    display: none; }

  .wrap {
    height: 550px;
    background-position: 15% 50%; }
    .wrap h1 {
      font-size: 38px;
      text-align: center; }
    .wrap p {
      font-size: 15px; }
      .wrap p br {
        display: none; }
      .wrap p #highlight {
        margin: 50px; }

  .loan-widget {
    position: relative;
    margin: auto;
    margin-top: 20px;
    width: 320px;
    height: 380px;
    background: #fff; }
    .loan-widget a {
      padding-top: 0; }
    .loan-widget h3 {
      text-align: center; }
    .loan-widget img {
      width: 35px;
      margin-left: 50px; }
    .loan-widget .tips {
      margin-left: 140px; }
    .loan-widget .applyButton {
      margin-top: 40px;
      margin-left: -210px; }
    .loan-widget .btn {
      position: relative;
      margin-left: 0px;
      font-size: 28px;
      padding-top: 3px;
      font-size: 24px;
      margin-bottom: 10px;
      width: 200px;
      height: 40px;
      margin-top: 30px; }
      .loan-widget .btn a {
        padding-bottom: -100px;
        margin-top: 100px; }

  #apply {
    margin-top: -20px; }

  #loanValue {
    margin-top: -20px;
    margin-left: 15px;
    font-size: 16px; }

  .about {
    padding-top: 10px; }
    .about h1 {
      font-size: 30px; }
    .about p {
      margin-bottom: -30px; }
    .about br {
      display: none; }
    .about div {
      margin-bottom: -20px; }

  .howItWorks {
    height: 200px;
    background: url(../img/how-it-works_mobile.jpg) no-repeat #000000;
    background-size: cover;
    background-position: center center; }
    .howItWorks h1 {
      font-size: 40px; }

  .how {
    padding-top: -10px; }
    .how .row {
      padding-top: -20px; }
    .how h2 {
      margin-top: -50px;
      text-align: left;
      float: left; }
    .how img {
      float: left;
      display: inline;
      margin: -50px 10px 10px 10px; }
    .how span {
      text-align: left;
      font-size: 20px;
      line-height: 120%;
      margin-top: -20px;
      margin-bottom: 30px; }
    .how p {
      margin-top: 3px;
      text-align: center;
      clear: left; }
    .how div {
      margin-bottom: -20px; }

  .faqCta p {
    font-size: 20px; }
  .faqCta h2 {
    font-size: 40px;
    line-height: 140%; }
  .faqCta .btn {
    font-size: 20px; }

  .homeCta {
    background-color: #ffffff; }
    .homeCta h3 {
      font-size: 34px; }
    .homeCta section ul {
      padding: 0;
      margin: 0;
      margin-bottom: 31px; }
    .homeCta section p {
      font-size: 20px; }
    .homeCta section a {
      font-size: 32px; }
    .homeCta li {
      list-style-type: none;
      list-style-position: inside;
      text-align: center;
      margin: auto; }
      .homeCta li a.loanType {
        text-align: center; }

  .platforms {
    display: none; }
    .platforms img {
      width: 450px; }

  #testimonials {
    padding-top: -10px;
    height: 450px; }
    #testimonials h1 {
      margin-top: -10px; }
    #testimonials p {
      font-size: 26px; }

  .bottomCta p {
    font-size: 24px;
    font-weight: lighter; }
  .bottomCta .btn {
    margin-top: 30px;
    font-size: 32px; }

  .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    font-size: 13px; }

  .application .btn {
    margin-top: 10px;
    font-size: 15px; }

  .contentBox {
    padding: 20px; }

  footer {
    text-align: center; }
    footer h4 {
      margin-top: -10px; }
    footer hr {
      display: none; }
    footer .bottomLogo {
      display: none; }
    footer .footerNav li {
      display: inline; }

  .rule {
    display: initial;
    padding-left: 10px; }

  #social {
    font-size: 24px; }

  .aboutUs p {
    font-size: 15px; }
  .aboutUs img {
    width: 120px; }

  /*
  	.container-fluid.aboutUs, .container-fluid.howItWorksContent, .container-fluid.faq {
  			padding: 0, 5px;
  		
  	}
  	*/
  .wizard {
    width: 90%;
    height: auto !important; }

  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px; }

  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px; }

  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%; } }
@media (max-width: 430px) {
  .accountHead span, .accountHead a {
    font-size: 13px; }

  .wrapInnerPage {
    background-size: center;
    background-position: -300px 50px; }
    .wrapInnerPage h1 {
      font-size: 30px; }

  .container-fluid.backgroundDivBlue {
    padding: 0 5px; }

  .login .contentBox {
    padding: 20px 40px; } }

/*# sourceMappingURL=style.css.map */
